[2019-12-02 12:26] christophM opened #2 "IndexError when model has no categorical features"
Hi there

I run into an error when I try to use DiCE with a Keras model that only uses numerical features.
The error I get is `IndexError: list index out of range`.

From the paper, I understood that DiCE should work with only numerical features as well?
In the code, it seems that when no categorical features are present, still code is called to work with the categorical features which throws the

[2019-12-10 11:28] raam93 commented on #2
Thanks for pointing that out! I have updated the code, and it now works when only categorical (or only continuous) features are present.

[2019-12-10 11:28] #2 closed

[2019-12-11 07:29] christophM commented on #2
That was really fast.
Thanks a lot!

[2019-12-17 09:43] christophM opened #4 "Tensorflow >=2.0 compatibility"
Do you have any plans to make DiCE compatible with tensorflow 2.0 and above?
Would be great to have!

[2019-12-17 10:40] raam93 commented on #4
Yes, we do have plans to make it TF 2.0 and PyTorch compatible, however, it might take some time. Meanwhile, you are most welcome to contribute - https://github.com/microsoft/DiCE/blob/master/dice_ml/dice.py#L25!

[2020-01-08 08:31] christophM opened #5 "Float features wrongly converted to integers in dice_ml.Data"
There is currently a bug that turns all float features into integers.

Problems causing this:

- An extra empty space in ' float' :
https://github.com/microsoft/DiCE/blob/bab6166530e846456bc913ce3529ab9aa909df5c/dice_ml/data_interfaces/public_data_interface.py#L69
-  Occurrences of `self.continuous_feature_name` in lines 70 to 74 should be replaced with `self.feature`
https://github.com/microsoft/

[2020-01-09 09:59] raam93 commented on #5
Thanks for pointing out the error, Christoph! I have updated the code.
Also, make sure you feed the modified data 'df2' to dice_ml.Data() to reflect the change.

[2020-01-09 09:59] #5 closed

[2020-03-16 08:04] raam93 commented on #4
Closing this issue as DiCE now supports both TF2 and PyTorch. Please check out https://github.com/microsoft/DiCE/blob/master/notebooks/DiCE_getting_started.ipynb.

[2020-03-16 08:04] #4 closed

[2020-03-26 05:34] apremgeorge opened #8 "How to install dice_ml?"
import dice_ml
May i know how to install, is there pip install?

![image](https://user-images.githubusercontent.com/30790120/77613774-a4860e00-6f7f-11ea-9859-84b61c0153c2.png)

[2020-03-26 06:09] raam93 commented on #8
You can clone or download the latest version of the package from GitHub to your local and run `pip install -e .` from the top-most folder.

Otherwise, the stable version is now available on [PyPI](https://pypi.org/project/dice-ml/). You can simply run `pip install dice-ml` to install.

[2020-03-26 06:09] #8 closed

[2020-03-26 21:40] apremgeorge opened #9 "AttributeError: 'Sequential' object has no attribute 'backend' using Tensorflow 1.14.0"

[2020-03-26 22:22] #9 closed

[2020-03-30 16:17] sina-salek opened #10 "TypeError: 'XGBClassifier' object is not callable"
Sorry if this is a silly question, but I copied the notebook DiCE_with_advanced_options.ipynb and just changed the model to xgboost. When I try to run the line
dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=4, desired_class="opposite")
I get the error in the title. Would you be able to tell me what I'm doing wrong? Thanks

[2020-03-31 05:11] raam93 commented on #10
Currently, DiCE supports classifiers based on TensorFlow or PyTorch frameworks only. If you want to use something like XGBoost, perhaps you can try [BoostedTreeClassifier](https://www.tensorflow.org/api_docs/python/tf/estimator/BoostedTreesClassifier) in TensorFlow and [here](https://www.tensorflow.org/tutorials/estimator/boosted_trees) is a nice tutorial on the same. For more info, this short [pa

[2020-03-31 09:27] sina-salek commented on #10
Thanks for your prompt reply. I tried it with the BoostedTreeClassifier, but I still get a similar error message. I copy the entire message, in case you are so kind to help.

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-172-6a666c9fc519> in <module>
      1 # generate counterfa

[2020-03-31 09:46] raam93 commented on #10
Hmm, okay. I will check and let you know.

[2020-03-31 10:41] sina-salek opened #11 "InvalidArgumentError: Input is not invertible. [Op:MatrixInverse]"
Hi again,
I understand you must be extremely busy. I appreciate your time.

I was now trying to use the same ANN model as in your notebook, but with the German credit data. The model trains fine. But I get the following error message when I try to run the line:
dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=4, desired_class=1)

I have copier the entire error message below. Thank

[2020-04-01 07:03] raam93 commented on #11
Not sure why this error occurs, it's hard to say without looking at the code. Can you share your full code? It worked for me with the German credit data. Below is the code:

[code]

Let me know if you still face any difficulty.

[2020-04-01 10:01] sina-salek commented on #11
Hmm! I'm not sure what happened. I just ran my own code and it works fine! Not sure what the problem was yesterday! Thanks again for your time.

[2020-04-01 10:01] #11 closed

[2020-04-03 10:37] sina-salek opened #12 "High rate of incorrect predictions"
Hello,

I'm not sure if this is something I'm doing wrong or you've encountered this before. Consider the following actions:

In the adult dataset I put aside a validation set, which neither my model nor DiCE has seen. From those, I select a number of samples whose age = 31, and use those to generate counterfactuals by varying everything other than age. Other than this I am not using any weights.

[2020-04-03 15:04] raam93 commented on #12
That's not possible, DiCE explanations are always truthful to the ML model by definition. In other words, we are simply tweaking the input instance until we get a different prediction from the same ML model. It is difficult to say anything more without looking at your code. Perhaps, you are missing out on something while creating a validation set. For instance, are you normalizing the continuous f

[2020-04-04 06:35] sina-salek commented on #12
Thanks! It's very kind of you to provide the code. It helped me find my bug.

[2020-04-04 06:35] #12 closed

[2020-04-10 05:09] aivodji opened #13 "Error when using continuous features 'capital_gain' and 'capital_loss' on Adult Income"
Hi,
The examples you provided for Adult Income work perfectly.
However, when 'capital_gain' and 'capital_loss' are used in addition to 'age' and 'hours_per_week', DiCE has some trouble to deal with those features. I suspect it may have something to do with the fact that they are highly skewed. Did you experience the same thing? Is that the reason why they are not used in the examples you provided?

[2020-04-13 05:22] raam93 commented on #13
Can you post the error you are getting? It's hard to say anything without looking at the error.

Yes, you are right regarding cappital_gain and capital_loss - they are highly skewed and most of the observations had 0 value. So we did not use those variables in our experiments. As we mention in the paper, the data preparation is mostly based on the analysis here: https://rpubs.com/H_Zhu/235617.

[2020-04-15 14:26] sina-salek commented on #10
Hi,

Sorry to bother you, I just wanted to check if you've managed to see if DiCE actually works with TF's BoostedTreeClassifier. If it doesn't at the moment, do you have plans to add the capability? Thanks

[2020-04-16 13:45] raam93 commented on #10
Hey, sorry for the late response. You are right, DiCE currently doesn't support TF's BoostedTreeClassifier. I checked and it seems like the TF's estimator API is too abstract for the current DiCE implementation. DiCE works only when a model object is callable but estimator does not support that and instead has train and evaluate functions. We will try to add this feature in the future.

[2020-04-16 14:20] sina-salek commented on #10
Thanks for getting back to me. Do I understand correctly that currently DiCE effectively works only with ANNs? I'm asking because I'm currently working on something where I need to train lots of different models, and ANNs are too slow to allow me to work with them properly, so it would be interesting to me if DiCE supports any other learning method.

[2020-04-16 17:16] raam93 commented on #10
So to differentiate the model wrt input variables, we do model(x) in both PyTorch and TensorFlow. So any model that is callable in these libraries should work such as a linear or logistic regression which you can think of as single layer NNs. TF estimators should be doable, give us some time we will implement them and update DiCE soon.

[2020-04-18 05:44] aivodji commented on #13
The error is "RuntimeWarning: divide by zero encountered in double_scalars
  feature_weights[feature] = round(1/normalized_mads[feature], 2)", and the relataded file is DiCE/dice_ml/dice_interfaces/dice_tensorflow1.py at line 279

[2020-04-18 14:20] raam93 commented on #13
Yeah, that happens when the MAD is 0. The code is now updated and it will replace all such occurrences with 1. So, currently, features with 0 MAD are not given any weights in optimization. Though it might make sense in many cases, we welcome other ways of handling this situation.

[2020-04-18 14:20] #13 closed

[2020-04-20 03:38] aivodji commented on #13
Thanks for your feedback. By the way, I think the PrivateData class in private_data_interface.py also need a get_valid_mads method.

[2020-04-20 08:14] raam93 commented on #13
Ah, good catch! Thanks for pointing that out. I will update the private data notebook in a while.

[2020-04-22 12:29] rmazzine opened #15 "Median Absolute Deviation for sparse numerical data"
https://github.com/microsoft/DiCE/blob/072f6f7ac62ba6129e6f8ac4d67fbbe1d7359863/dice_ml/data_interfaces/public_data_interface.py#L192

When the input data has continuous values with sparse input (majority 0), the calculated MAD will be zero. Then, this will cause a problem on:

https://github.com/microsoft/DiCE/blob/072f6f7ac62ba6129e6f8ac4d67fbbe1d7359863/dice_ml/dice_interfaces/dice_tensorflow1.

[2020-04-22 12:43] rmazzine commented on #15
One possible solution might be using a "hard coded" value when the feature MAD is zero. This value could have a very high value to ensure the weight is large.

[2020-04-22 13:07] raam93 commented on #15
In the latest version, this won't happen as `data_interface.get_valid_mads()` method takes care of such cases. Currently, we don't add a normalization constant for such features and so they are considered to be of the same weight as other categorical and unweighted continuous features. We do this because, as far as we can see, there is no consensus on the normalization factor. Your solution is def

[2020-04-22 13:07] #15 closed

[2020-04-22 13:34] rmazzine commented on #15
Indeed I used an older version, my bad!

Definitely there is no consensus on how to deal with this kind of normalization. However, the current code replaces MAD to 1 and, then, we would have a weight of 1 for those features. While other variables, that have higher variation, will get weights with orders of magnitude higher.

This can generate a side-effect of those variables (that are sparse and h

[2020-05-19 10:30] siebediels opened #28 "[Question] Does DiCE support user-constrained feature ranges?"
I'd like to enforce constraints on the ranges that each feature can take when being perturbed - for example limiting 'hours_per_week' to anything within [40,60]. Is this currently possible, either directly through the interface or by changing some internals?

I read about it in [your paper](https://dl.acm.org/doi/abs/10.1145/3351095.3372850), but haven't yet found out how to implement this in prac

[2020-05-19 12:22] raam93 commented on #28
Hey, you can specify box constraints using `permitted_range` parameter while initiating data object `d`. For instance, you can do
`d = dice_ml.Data(dataframe=dataset, continuous_features=['age', 'hours_per_week'], outcome_name='income', permitted_range={'hours_per_week':[40,60]})`

https://github.com/interpretml/DiCE/blob/master/dice_ml/data_interfaces/public_data_interface.py#L21

[2020-05-19 12:43] siebediels commented on #28
Hey, thank you very much for the quick and helpful reply.

[2020-05-23 16:53] siebediels commented on #28
Hi,
I'd like to ask a follow-up question, hope you don't mind.

Is there a way to manually set possible feature-ranges for categorical features (perhaps by tweaking some internals)? For continuous features it seems to work well, but I'd like to do something similar for categorical features. E.g. allowing "education" to take only the values ['bachelors', 'masters', 'prof-school'].

Looking forward

[2020-06-03 09:13] raam93 commented on #28
Currently, we don't support that, but it will be really good to have that option! Most likely a small tweak in https://github.com/interpretml/DiCE/blob/master/dice_ml/data_interfaces/public_data_interface.py#L242 method should work. I will have a look soon and update them. Meanwhile, please feel free to raise a pull request to do the same.

[2020-07-11 12:27] MGCodesandStats opened #30 "Creating DiCE Explanation Instance"
I am attempting to use DiCE on a classification problem and form a DiCE Explanation Instance as such:

[code]
However, after spending time on this I am running into difficulty in defining **m** for this purpose.

I have created a neural network configuration and the model trained successfully.

[code]

The model is of the type:

[code]

However, when I attempt to generate the DiCE model:

[code]
I

[2020-07-11 17:03] raam93 commented on #30
Hi, can you try `m = dice_ml.Model(model=ann_model)`? - replace `model` with `dice_ml`.

[2020-07-11 21:45] MGCodesandStats commented on #30
That worked perfectly, thank you for the quick reply! For reference, I now get a model of type:

[code]

[2020-07-13 14:04] #30 closed

[2020-08-13 21:11] Yanjiayork opened #32 "Customised model"
Hi, I notice that the model you have trained is using the one hot encoded training data for categorical features, e.g. for workclass , you have three features to represent it -- workclass_Government, workclass_Other/Unknown, workclass_Private

However, we often train models just using one single feature to represent it with 0 (Government), 1(Other/Unknown), 2(Private). Is there a simple way that I

[2020-08-15 06:21] raam93 commented on #32
Hey Yan, thanks for this question! Yes, DiCE one-hot-encodes categorical features internally and we assume the model is also trained on one-hot-encoded data. In this case, though the optimization has to run on more columns, we didn't want to assume any particular order of values for categorical features.

However, if your model is trained with label encoded data, you can simply present all feature

[2020-08-16 12:30] Yanjiayork commented on #32
Thanks, that seems a good idea! So if I treat workclass as a continuous feature,  does that mean I should enter the feature like the following format or just give it an interval, i.e. 'workclass': [0, 3]?

d = dice_ml.Data(features={
                   'age':[17, 90],
                   'workclass': [0, 1, 2, 3],
                   'education': [0, 1, 2, 3, 4, 5, 6, 7],
                   'marital

[2020-08-16 16:33] moyaghini opened #33 "`visualize_as_dataframe` heading mistakenly produces "new outcome: 1" regardless of `desired_class` in `generate_counterfactuals`"
[code]

Produces:

<img width="685" alt="image" src="https://user-images.githubusercontent.com/61885784/90339185-6bb90500-e004-11ea-9862-cd0db6f3f460.png">

[2020-08-17 11:29] raam93 commented on #32
You need not provide the range since it is inferred from the data. Just provide all feature names in a list to the `continuous_features` parameter like this:  `d = dice_ml.Data(dataframe=dataset, continuous_features=list(dataset.columns), outcome_name='income')`. Make sure that the categorical features are of type int or float in your case .ie., for instance, 'workclass' takes integer values 0,1,2

[2020-08-17 11:31] raam93 commented on #32
Yes, currently DiCE supports only 2D tabular data with rows as observations and columns as features. We have not tested on image and related datasets but it will be interesting to try!

[2020-08-17 11:38] raam93 commented on #33
Ah well, it's because you have provided `desired_class=0` in the `generate_counterfactuals()` method. The default value is `opposite`, so provide `desired_class="opposite"` and DiCE will automatically infer the counterfactual class from the query instance's output.

[2020-08-17 11:38] #32 closed

[2020-08-24 06:11] amit-sharma commented on #33
@moyaghini for binary class labels, you are right. But the parameter becomes important for multi-class classification, where "opposite" may not make sense, but the user can specify the target class for which CFs should be generated (among the k-1 classes left).

[2020-08-24 07:04] raam93 commented on #33
Ok, I see the issue - it is a printing error @moyaghini. Thanks for bringing that up! If you see the predicted values of the outcome feature "income", it is below 0.5 only. You can always generate CFs for any outcome class. However, while displaying (the line above CFs table), we have set the wrong default where it sets the opposite class as the new outcome. Have updated the library, please check

[2020-08-25 07:17] #33 closed

[2020-08-27 23:06] thekatiebr opened #36 "TypeError: type numpy.ndarray doesn't define __round__ method"
I'm having an issue with the version of DiCE installed from pip.
Here's the exact traceback:
[code]

Here is my environment setup:
[code]

Do you have any advice on how to move past this error? Are my package versions of the requirements for dice-ml correct?

Thanks so much!

[2020-09-02 07:37] HengQuan1997 opened #37 "Number of Counterfactual Examples"
Can I generate more than 4 counterfactual explanations with the Dice package?

All Dice examples have exactly 4 counterfactual explanations via the "total_CFs=4" code.

Changing "total_CFs" to different numbers will cause errors as well.

Thanks

[2020-09-06 13:48] moyaghini opened #38 "One-hot encoding in the Data class is not stateful."
`Data.one_hot_encode_data()` being an alias for `pd.get_dummies(df, columns=categorical_features)` would one-hot-encode every dataframe using the categories present in `df`. This is problematic when you need to one-hot-encode a set of counter-factuals (post-hoc) that do not include all categories of a particular feature.

If pos-hoc pre-processing of data is not intended for the Data class, I sugg

[2020-09-08 07:52] raam93 commented on #37
Can you post the error you are getting? You can generate as many counterfactuals as you want depending on the resources you have. We have tested till100 CFs.

[2020-09-08 08:02] raam93 commented on #36
The requirements are fine, but can you please try installing the latest version on GitHub with `pip install -e .` from the top-most folder instead of from PyPI? We'll update the version on PyPI soon.

[2020-09-08 11:16] HengQuan1997 commented on #37
<img width="738" alt="Dice Error" src="https://user-images.githubusercontent.com/68982226/92469622-b2ff7380-f207-11ea-9f8c-c31fa1c66fcb.PNG">

Hi Raam. I got a "IndexError: list index out of range" if I change "total_CFs=4" to "total_CFs=10".

This error came from your US income demo. This is the demon link: https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_with_advanced_o

[2020-09-18 10:02] #36 closed

[2020-09-21 06:02] raam93 commented on #37
Hey @HengQuan1997, sorry that was a bug in the previous version of DiCE. Can you please update with the latest version and check again?

[2020-09-22 02:04] HengQuan1997 commented on #37
Hi Raam93. Now, Dice is able to generate 5 counterfactuals for every dataset. However, the index error will still occur if "total_CFs" is more than 5.

Thanks very much.

[2020-09-23 11:28] prakharrathi25 opened #39 "Getting AttributeError: module 'tensorflow' has no attribute 'get_default_session'"
I tried to run DICE with a pretrained XGBoost model and ran into this error. `AttributeError: module 'tensorflow' has no attribute 'get_default_session'()`. I am using TensorFlow version 2.3.0. Seems to be an issue with the version. Is there a fix for this?

[2020-09-28 08:52] raam93 commented on #37
Hey @HengQuan1997, I'm sorry but I think you still are using the old version because the `initialize_CFs()` method in the latest version of dice_tensorflow2.py (https://github.com/interpretml/DiCE/blob/master/dice_ml/explainer_interfaces/dice_tensorflow2.py#L271) is different from what is there in the image you have shared above. If you are using pip, can you re-install once again? we last updated

[2020-09-28 09:08] raam93 commented on #39
Yes, you need to provide appropriate value for the `backend` variable when you create a DiCE model object - please see section "Loading the ML model" of this notebook: https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_getting_started.ipynb.

However, DiCE currently supports sequential models based on TensorFlow and PyTorch frameworks only. TF has its own BoostedTreeClassif

[2020-09-28 09:09] #39 closed

[2020-10-06 03:13] wangyongjie-ntu opened #40 "Can DiCE support any regression model?"
Hi,

Can DiCE support any regression model? E.g., just specifiy the loss function as the MSE loss?

Thanks

[2020-10-07 03:26] drishyamlabs commented on #10
Hi, thanks a lot for the wonderful library. Wanted to quickly check if any progress is made towards integration of tree based models direcly coming from scikit-learn?

[2020-10-07 07:58] #40 closed

[2020-10-12 12:41] raam93 commented on #40
You can use the `l2_loss' option for `yloss_type' parameter in generate_counterfactuals() method and it will find counterfactuals. However, there will be some inconsistencies with the print summary and some variables of the explanation class because this part of the code was written with classification models in mind. Specifically, the code needs a little tweaking in the areas where `target_cf_cla

[2020-10-12 12:42] #37 closed

[2020-10-21 06:21] raam93 commented on #38
Hey, @moyaghini sorry for the very late response. It's not clear to me when you say the method would one-hot-encode every dataframe? We have drop_first=False in pd.dummies() method so that is the same as one-hot-encoding.

If your question is about constraining the possible values a categorical feature can take, that is still not implemented in DiCE and we are working on that: https://github.com/i

[2020-10-26 08:46] drishyamlabs opened #41 "Support for scikit-learn and other libraries where models are not necessarily differentiable"
Hi,
Thanks a lot for the wonderful library. As you guys have mentioned in the roadmap, can you tell us by when we can expect the integration of scikit-learn like libraries. I am facing issues when using trying to integrate the same.
Thanks in advance!

[2020-10-29 09:55] amit-sharma commented on #41
yes, integrating scikit-learn is a high-priority feature and we are working on it. Should have an update in the next few weeks.

[2020-10-30 14:16] anindya5 opened #42 "AttributeError: module 'tensorflow' has no attribute 'get_default_session'"
Installed dice-ml from pypi.

[code]

Getting the following error
[code]

My pip freeze result

[code]

If I change torch or tensorflow version other issues crop up. .

If fresh dice-ml install done in a new env where dice only install torch and tensorflow, then the error  is
`AttributeError: module 'torch.jit' has no attribute '_script_if_tracing'`

[2020-11-03 16:16] CoteDave commented on #42
The quick patch i found is to change
import tensorflow as tf --> import tensorflow.compat.v1 as tf

in the "dice_tensorflow1.py" file

[2020-11-03 17:57] anindya5 commented on #42
@CoteDave Now getting `AttributeError: module 'tensorflow' has no attribute 'get_default_session'`

[2020-11-03 18:17] mike1130694 opened #43 "How to use dice for a pipeline that performs one-hot-encoding when requesting prediction to tensorflow model"
Hi,

I hope I can explain my current situation clear enough.

At the moment I've been trying to evaluate multiple model-agnostic methods to generate explanations on a Keras TensorFlow neural network model. Since each XAI method has different requirements and some need to have a numerical encoding to perform the perturbances on categorical data,

The approach that I had implemented to be able to us

[2020-11-03 18:49] tharindukw96 commented on #42
I'm using Google colab notebook. Try to downgrade the Tensorflow to 1.x .

[2020-11-04 06:05] raam93 commented on #42
DiCE internally selects a version of the explainer implementation based on the `backend` parameter to `dice_ml.Model`. The default version is TensorFlow 1.x so you need to set it manually if you are using TF2 or PyTorch. Please check out the section **Loading the ML model** in this notebook: https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_getting_started.ipynb.

Specific

[2020-11-04 07:03] raam93 commented on #43
Hi,

One solution I can think of without changing DiCE's code is providing only the three numerical features to `continuous_features` parameter in `dice_ml.Data` and removing the column transformer component before prediction. If this is possible to do in your case, DiCE internally converts your 15 numerically-coded categorical features into `category` type. You can transform the categorical featu

[2020-11-08 07:13] BirkhoffG opened #44 "Questions on the loss function of distance"
I have one question about the loss function in measuring the proximity between generated counterexamples `c` and input instance `x`. From your [paper](http://arxiv.org/abs/1905.07697), formula (5) and (6) illustrates the distance loss function. However, I understand (6) is not a differentiable function. How do you cope with this problem?

I also check your code in `dice_pytorch.py`, and it seems l

[2020-11-08 16:06] raam93 commented on #44
Hi, we explain how we implement formula (6) in practice in the paragraph (with heading **Relative scale of features**) just below the formula. I quote the following excerpt for your reference:

Does this answer your question?

[2020-11-08 16:53] anindya5 commented on #42
This is actually not closed. I used a new environment and install DICE first, which in turn downloads TensorFlow, and PyTorch. Still issues persist.

[2020-11-08 17:37] raam93 commented on #42
yeah okay, so did you try using the backend variable as mentioned in the previous comment?

[2020-11-08 23:23] anindya5 commented on #42
yes, that resulted in the next issue

[2020-11-09 08:51] raam93 commented on #42
If your error is with PyTorch installation and if you are in Windows, then try manually installing PyTorch using something like this: `pip install torch==1.7.0+cpu torchvision==0.8.1+cpu torchaudio===0.7.0 -f https://download.pytorch.org/whl/torch_stable.html`.

In any case, just if your TensorFlow installation is working, then you should be able to run DiCE notebooks using the appropriate backend

[2020-11-09 10:25] arsine1996 commented on #41
Hi, thanks for a cool and important library. Can you please tell whether [LightGBM](https://lightgbm.readthedocs.io/en/latest/index.html) will be supported after a new updates?

[2020-11-10 09:11] BirkhoffG commented on #44
Thanks for your reply.

Yes, that is what I am confused about. It makes sense that you treat the categorical feature as a continuous feature with one-hot encoding. It might be better to explicitly point out that paragraph is a practical consideration in implementing (6).

However, I am still confused about how to enforce the one-hot encoding in the learned counterfactuals.

Could you help me to un

[2020-11-19 16:39] rmazzine opened #46 "Infinite loop in specific conditions"
https://github.com/interpretml/DiCE/blob/a772c8d4fcd88d1cab7f2e02b0bcc045dc0e2eab/dice_ml/explainer_interfaces/explainer_base.py#L73

The post-hoc sparsity enhancement can enter in an infinite loop in certain conditions (I tested with all numerical data, with data ranging, mostly, from -1 to 1). If you need, I can attach here the data. The cause is, for small numbers, sometimes the rate of change

[2020-11-23 06:50] raam93 commented on #44
We add L2 regularization to ensure the sum to 1 (https://github.com/interpretml/DiCE/blob/master/dice_ml/explainer_interfaces/dice_pytorch.py#L258). During each optimization step, we do a bunch of tasks such as freezing some gradients (if some features are not allowed to change). So are you suggesting to add a softmax layer after each optimization step or to include the softmax function as a loss

[2020-11-23 07:04] raam93 commented on #46
Yes, that's a good catch! Indeed, it gets stuck in an infinite loop for values much lower than zero. However, the default sparsity correction method that you are using performs a linear search. If the option `posthoc_sparsity_algorithm` in `generate_counterfactuals()` is changed to "binary", which performs a binary search instead, the results are much faster. We have observed the binary option wor

[2020-11-23 07:06] raam93 commented on #46
We will add a note about different methods in sparsity enhancement in the notebooks too.

[2020-11-23 12:46] BirkhoffG commented on #44
Thanks for the reply! I will certainly look into the difference between L2 regularization and softmax.

[2020-11-23 12:46] #44 closed

[2020-11-23 14:04] PJarbas opened #47 "How to save the dice explainer object to file?"
Hi, I'm trying to write the dice_ml object to a file and I'm getting the follow error:

[code]

[code]

[2020-11-24 12:54] rmazzine commented on #46
Hello!

I made a notebook on colab to reproduce this bug, and it does not even need to have a low value (as demonstrated by this example).

https://colab.research.google.com/drive/1vIJ79cV1WmNAl2usZJIBNIxdcFQn3H_h?usp=sharing

I will open a PR with my suggested solution soon then!

[2020-11-24 17:53] remindchobits opened #48 "Loading Pytorch custom models"
Hello! Thank you so much for the great work!

But could you please tell me how to load a trained pytorch models .pth?  I always get this error:

AttributeError: '_IncompatibleKeys' object has no attribute 'seek'. You can only torch.load from a file that is seekable. Please pre-load the data into a buffer like io.BytesIO and try to load from it instead.

Thank you!

[2020-11-26 15:19] remindchobits commented on #48
The problem solved, but just as https://github.com/interpretml/DiCE/issues/46 says the optimisation goes into a infinite loop with the normalised dataset, but for non-normalised dataset it works well.

[2020-11-28 00:10] gaugup commented on #47
Hi @PJarbas,

This might be because of logger in the explainer. Could you share the exact code that you are trying to run and which fails in the explainer? Maybe, we can make the dice explainer pickleable.

Regards,

[2020-12-01 14:26] PJarbas commented on #47
I'm tryin to run the simple code from the docs

[code]

and I'm getting the same error

[code]

[2020-12-05 09:03] taposh opened #49 "dice-ml pip install uses older version of scipy"
While running
`d = dice_ml.Data(dataframe=dataset, continuous_features=['age', 'hours_per_week'], outcome_name='income')
`
I get an error
[code]
ImportError: cannot import name 'comb'

This has been depreciated
`from scipy.misc import comb `

update needed

`from scipy.special import comb
`
https://docs.scipy.org/doc/scipy-1.2.1/reference/generated/scipy.misc.comb.html

[2020-12-07 10:12] raam93 commented on #47
Hi @PJarbas, thanks for bringing this up! We haven't thought about saving dice object earlier.

So DiCE explainer object takes in a data and a model object as parameters. Your error is perhaps due to how TensorFlow saves and loads .h5 models, which I don't think we can address. Check out this issue: https://github.com/matterport/Mask_RCNN/issues/1126 which talks about similar problems.

However, I

[2020-12-07 10:39] raam93 commented on #49
Hi @taposh, I just checked `pip install dice-ml` and it works just fine on my Windows machine. Are you sure you are using the latest DiCE version which is v0.4 (https://pypi.org/project/dice-ml/)? If so, could you share the versions of DiCE's dependencies?

[2020-12-07 10:53] raam93 commented on #48
Hey, did you get a chance to try with `posthoc_sparsity_algorithm="binary"` in `generate_counterfactuals()`? I have tried with features taking very small values and this option was several orders of magnitude faster.

But yeah, it would be better to include @rmazzine's suggestion and an option to run sparsity correction on selected features instead of all features. Will add an option for that soon

[2020-12-07 10:58] raam93 commented on #41
Hi @arsine1996, we are currently trying to make it work for scikit-learn models. We will update the readme if we can extend it to XGBoost and LightGBM as well.

[2020-12-07 13:14] PJarbas commented on #47
ok, thanks for the feedback

[2020-12-07 16:28] #47 closed

[2020-12-07 17:35] PJarbas opened #50 "Handle unknown categories in Dice explainer predict_fn"
Hello,

I would appreciate some help when handling unknown categories values in new data predicted with the DICE **explainer predict_fn** method.

Well, we have implemented the DICE technique to be used in our ANN model trained with our historical data, which contains categorical features. Once we tested our model and tried to predict new data containing unknown categories values in categorical fe

[2020-12-07 17:41] mcarujo commented on #50
Same problem here... =(

[2020-12-07 17:51] aliceximenes commented on #50
Same problem too

[2020-12-08 13:54] williammaiaarruda commented on #50
I am facing the exactly same problem. It would help a lot any suggestion to solve this.

[2020-12-14 13:43] aayesha-coder commented on #10
I am getting the same error.
TypeError: 'BoostedTreesClassifier' object is not callable
Do you have any plan to resolve this issue soon?

[2020-12-15 08:41] raam93 commented on #50
I think it depends on your model and how it is trained to handle unknown categories.

Your suggestion to use OneHotEncoder to handle unknown categories will also work. However, if you want this as a feature in DiCE itself, we need to change the method `prepare_df_for_encoding()` in DiCE's data_interface which infers the categories present in training data and the `prepare_df_for_encoding()` which

[2020-12-20 17:35] hende8 opened #53 "'LogisticRegression' object has no attribute backend"
Hey there,
I'm trying to create an exp like this example
`exp = dice_ml.Dice(data,m)
`
I'm using # XGBClassifier   and # LogisticRegression as prediction model
but all the time I encounter in this error :
`AttributeError: 'LogisticRegression' object has no attribute 'backend'`
`AttributeError: 'XGBClassifier   ' object has no attribute 'backend'`

Anybody can help me please?I will appreciate a lot

[2020-12-22 05:05] gaugup commented on #53
Can you share the dice-ml version and a sample notebook?

[2020-12-23 07:40] wangyongjie-ntu opened #54 "Why use the MAD in normalized features?"
The MAD is mainly for the heterogeneous features(different features have different scales, ranges).
If you normalize the features with a min-max scaler. all features are mapped into [0,1].

In the adult example, the data interface normalizes the features, why does the defaulted setting is "inverse_mad"?  From my understanding,  the l2 distance is good. The paper "COUNTERFACTUAL EXPLANATIONS WITHOU

[2021-01-26 19:01] dayongfu opened #56 "original outcome is not same as query instance."
I have the following query instance, but in the output original outcome is not same as query instance, I assume they should be same otherwise it is useless.

dice_exp = exp.generate_counterfactuals({ 'five_star_rate': 3.5, 'nights_booked': 1.0 }, total_CFs = 4, desired_class="opposite")
dice_exp.visualize_as_dataframe()

Query instance (original outcome : 1)
  | five_star_rate | nights_booked | la

[2021-02-04 02:10] gaugup commented on #56
Hi @dayongfu,

The way you are trying to generate the counterfactual is by saying the desired_class="opposite".

dice_exp = exp.generate_counterfactuals({ 'five_star_rate': 3.5, 'nights_booked': 1.0 }, total_CFs = 4, **desired_class="opposite"**)

Hence the counterfactual generated is for the scenario to flip the class for a query instance.

Does that answer your question?

Regards,
Gaurav

[2021-02-04 05:06] dayongfu commented on #56
thanks @gaugup !

yes, I want to generated the opposite scenarios, and I believe these scenarios are listed in the table under "Diverse Counterfactual set (new outcome : 0)". I'm curious about the table under "Query instance (original outcome : 1)", I assume it is the query instance that I input for generate_counterfactuals method, but looks so different from my inputs. why?

[2021-02-16 16:30] raam93 commented on #56
May I know how did you initiate the data object, `d`? Make sure to feed `five_star_rate` and  `nights_booked` as continuous features to the data object:

`d = dice_ml.Data(dataframe=dataset, continuous_features=['five_star_rate', 'nights_booked'], outcome_name='label')`

If the above did not work, could you share how your model is trained? Internally, by default, DiCE min-max normalizes the contin

[2021-02-16 16:59] raam93 commented on #54
You are correct in the interpretation of MAD however you missed the fact that the distribution of features after min-max scaling stays the same. Any scaling method will not change the shape of the data distribution but changes only the range. So dividing the distance by MAD (inverse_mad option) is to capture the relative prevalence of observing the feature at a particular value. Please refer to se

[2021-02-17 05:40] #54 closed

[2021-03-11 12:32] HengQuan1997 opened #106 "'desired_range' is not working, 'permitted_range' returns value out of the range, flexibility of 'permitted_range'"
Hi, I have the three questions.

Firstly, I get this error when I try to use 'desired_range'.

![Desired_Range_Error](https://user-images.githubusercontent.com/68982226/110787753-b522b780-82a8-11eb-9fcb-347cc91398bd.JPG)

Secondly, sometimes permitted_range cannot ensure the  controlled feature is in the range. For instance, the second image shows that the age is not in the range of 23 and 24.

La

[2021-03-12 05:17] gaugup commented on #106
@HengQuan1997  in my understanding desired_range should be used only for regression problems and desired_class should be used only in case of classification problems. You shouldn't set both. @amit-sharma  is that understanding correct?

[2021-03-13 09:43] HengQuan1997 opened #108 "FileNotFoundError: [Errno 2] No such file or directory: '../../../dice_ml/utils/sample_trained_models/adult-margin-0.165-validity_reg-42.0-epoch-25-base-gen.pth'"
Hi,

I have solved this problem by myself.

Thanks very much.

[2021-03-15 01:29] HengQuan1997 commented on #106
Hi @gaugup

Thank you for the reply. You are correct regarding the 'desired range' function. desired_range should be used only for regression problems.

[2021-03-15 16:55] gaugup commented on #108
@HengQuan1997, since you are able to resolve the issue, I am closing this.

Regards,

[2021-03-15 16:55] #108 closed

[2021-03-16 04:00] gaugup commented on #106
@HengQuan1997, for the second and the third scenario could you share the sample code/notebook?

[2021-03-16 05:49] amit-sharma commented on #106
@HengQuan1997 can you also confirm the version of DiCE you are using? The third issue might be due to using an earlier version---the latest version is 0.5.

[2021-03-16 05:54] amit-sharma commented on #56
@dayongfu As Ram mentioned, that bug was likely due to an encoding mismatch.
We have released a new version (0.5) on PyPI that does not have this encoding issue--- `generate_counterfactuals` can now take input in the original data space, without having to do any encoding. Can you try your example with the new version? Hope that solves the issue.

If not, will appreciate if you can provide a small

[2021-03-16 06:01] amit-sharma commented on #53
@hende8 you need to create a model object first, before passing it to the `dice_ml.Dice` constructor. I suspect the issue is due to setting `m` as `XGBClassifier` or `LogisticRegression`.  Instead, try this as shown in the [Getting Started](https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_getting_started.ipynb) notebook.

[code]

It may also be good to update DiCE to the

[2021-03-16 06:05] amit-sharma commented on #49
Closing this issue. I hope the new version resolved this problem @taposh [our current version is 0.5]

[2021-03-16 06:05] #49 closed

[2021-03-17 21:44] dayongfu commented on #56
thank all of you. I definitely would like to try it out and keep you posted. I also want to know whether DiCE can be used on a LSTM based classification model?

[2021-03-19 00:43] HengQuan1997 commented on #106
Hi, You are correct. I think that I did not use the latest version of 0.5.

[2021-03-19 10:25] upretiramesh opened #112 "'PublicData' object has no attribute 'split_data'"
Hi,

I am following the tutorial posted in
[](https://towardsdatascience.com/dice-diverse-counterfactual-explanations-for-hotel-cancellations-762c311b2c64)
When I tried to split the data, I got PublicData object has no attribute 'split_data'. Is this because it has removed in the new version? if yes then how can I split the data. I appreciate your help.

![Selection_332](https://user-images.github

[2021-03-21 15:28] amit-sharma commented on #112
Hi @upretiramesh yeah, the `split_data` has been removed in the new version. DiCE handling the data splitting was often a problem with pre-trained ML models where the data splitting had already been done. We did update the notebooks with this change--can you share the link where you found this line?

You can split the data using the standard `train_test_split` from sklearn. Check out this notebook

[2021-03-24 02:46] gaugup commented on #106
@HengQuan1997 are all your questions answered or are you still facing trouble using dice-ml? If your questions have been answered, then maybe we can close this issue.

[2021-03-24 12:06] upretiramesh commented on #112
Hi @amit-sharma thank you for your response.

[2021-03-24 12:06] #112 closed

[2021-04-06 00:03] gaugup opened #117 "DiceRandom is not able to handle case when requested counterfactuals is zero"
exp = Dice(d, m, method="random")
query_instance = x_train[1:2]
e1 = exp.generate_counterfactuals(query_instance, **total_CFs=0**, desired_range=None,desired_class="opposite",
                                   permitted_range=None, features_to_vary="all")
e1.visualize_as_dataframe(show_only_changes=True)

---------------------------------------------------------------------------
ValueError

[2021-04-09 18:05] Arnims opened #119 "Saving the generated examples as a dataframe"
Hello everyone,

I am looking for a way to export the generated examples to something like a pandas-dataframe.
Maybe, I am missing something but I tried to do so for sometime now but could not find a solution.
I think and hope that this is somehow possible. The output generated with the ".visualize_as_dataframe()" looks already like a dataframe but I do not see a way to save the displayed examples

[2021-04-12 16:47] gaugup commented on #119
@Arnims,

Which class are you using? Is it CounterfactualExamples or CounterfactualExplanations(). The CounterfactualExamples has 'final_cfs_df' field that carries the counterfactual examples as a dataframe. Could you try to use the field final_cfs_df'  in CounterfactualExamples .

Regards,

[2021-04-13 08:40] konabuta commented on #41
@raam93 I'm also interested in using LightGBM, XGBoost etc. I found currently DiCE supports 'scikit-learn' model [DiCE_model_agnostic_CFs.ipynb](https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_model_agnostic_CFs.ipynb). Does it also support LightGBM scikit-learn API ?

[2021-04-17 17:45] noureini opened #122 "Getting the following error : "feature "" has a value outside the dataset""
When generating the counterfactual explanation, i'm getting an error related to a feature value which value is considered to be outside of the dataset. This is strange for me, since the variable is a dummy and is not allowed to vary. The variable name is not in the list of feature to vary. My target variable is continous. Perhaps i'm missing something, could someone help, please.

Sincerely yours

[2021-04-17 20:40] jhaezaerts opened #123 "Query instances are all classified as (original outcome: 0)"
I have a credit scoring dataset with a binary target variable (bad borrower=1, good borrower=0). I have trained a RF, XGB and MLP and then wanted to generate counterfactuals on the exact same observation (where bad borrower=1), for each of the models.

Now, for some reason the MLP outputs "Query instance (original outcome: 0)". The RF and XGB both correctly output "Query instance (original outcome

[2021-04-18 05:29] gaugup commented on #122
@noureini , could you please share some sample code or python stack trace?

Regards,

[2021-04-18 06:11] noureini commented on #122
@gaugup, please find below the traceback

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-39-b20753a14def> in <module>
      2 #features_vary=list(filter(r.match, continuous_features_df_lait_cf))
      3 query_instances_lait = x_train[2:3]
----> 4 genetic_lait = exp_genetic_lait.g

[2021-04-18 06:13] noureini commented on #122
@gaugup And the code is :

query_instances_lait = x_train[2:3]
genetic_lait = exp_genetic_lait.generate_counterfactuals(query_instances_lait,
                                                             total_CFs=2,
                                                             features_to_vary=['Positionnement: lait_vendu_par_sfp', 'has a value outside the dataset'],

[2021-04-18 06:50] noureini commented on #122
@gaugup  It is now working, I transform the dummy variable into a categorical one and declare it as such, before running my model and generating the counterfactuals.

Thanks

[2021-04-18 16:16] #123 closed

[2021-04-19 13:18] gaugup commented on #122
great. Was this due to documentation not clear?

Could you close the issue if there is nothing actionable to do in this issue?

Regards,

[2021-04-19 15:41] noureini commented on #122
Yes, the documentation was not clear on how to handle dummy variables, but it turns out that one has to transform them into categorical variable before generating the counterfactuals.

[2021-04-19 15:41] #122 closed

[2021-04-20 04:14] noureini commented on #119
@gaugup  have also the same issue. The documentation on CounterfactualExamples is not clear.

To generable the counterfactuals
[code]
How to save the generated counterfactuals?

Regards,

Noureini

[2021-04-21 07:55] amit-sharma commented on #119
@noureini @Arnims In the above example, you can use `genetic_lait.final_cfs_df` to get the pandas dataframe (as mentioned by @gaugup).
In case you had enabled the sparsity parameter (available for some methods), you can also access `genetic.lait.final_cfs_df_sparse`.

Thanks for raising this. We will be adding a property method for you to access the dataframe easily.

[2021-04-21 09:00] Arnims commented on #119
@gaugup @noureini @amit-sharma

Thank you for replies.
I used the package to generate counterfactuals like that:

`e1 = exp.generate_counterfactuals(X[0:1], total_CFs=2, features_to_vary='all')`

The generated object e1 is than of type "CounterfactualExplanations" which does not seem to have the "final_cfs_df"-method.
I actually found a workaround without using the dice-package at all but I guess

[2021-04-21 17:43] noureini commented on #119
@amit-sharma @Arnims @gaugup Thanks for your responses.

As pointed out by @Arnims, in the example cases, e1 or genetic_lait are of the type "CounterfactualExplanations" which does not have "final_cfss_df". Is there another way? Perhaps by converting the "CounterfactualExplanations" class to the "CounterfactualExamples" class?

@Arnims Can you please share the workaround you applied?

Regards

[2021-04-22 06:48] amit-sharma commented on #119
Ah, in that case, the following should work.
`e1.cf_examples_list[0].final_cfs_df`
The `CounterfactualExplanations` class stores a list of `CounterfactualExamples` objects for each test input given.

Tested using this code:

[code]

**The index [0]:** If you've given multiple input points in `generate_counterfactuals`, then you can use the respective index to get the dataframe for the second input

[2021-04-22 07:14] amit-sharma commented on #117
Added a PR for this. Can you review @gaugup ?

[2021-04-22 09:13] noureini commented on #119
@amit-sharma  Thanks, it works.

[2021-04-23 12:36] #117 closed

[2021-04-28 06:37] #119 closed

[2021-04-29 11:31] etheng-jiao opened #129 "TypeError: get_decimal_precisions() got an unexpected keyword argument 'output_type'"
d = dice_ml.Data(dataframe=pipdata, continuous_features=['A','B','C','D','E','F','H','I','J','K'],outcome_name='G')from tensorflow.keras.models import Sequential
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras.wrappers.scikit_learn import KerasRegressor
import tensorflow.compat.v1 as tf
tf.compat.v1.logging.set_verbosity(tf.compat.v1.logging.ERROR)
from sklearn.model_

[2021-04-29 16:01] amit-sharma commented on #129
@etheng-jiao if you are using tensorflow, then need to set the backend to `TF1` (for tensorflow v1) or `TF2`.

[2021-05-03 10:48] martheveldhuis opened #133 "DiCE genetic question"
You have based DiCE genetic on GeCo if I understand correctly. Is there a way to 'group' features as they define in their paper;
"The first statement says that education and income are correlated: GeCo will consider only counterfactual values that occur together in the data."
So for instance if we have feature A and B, make sure that the algorithm always generates counterfactuals for which the com

[2021-05-03 19:31] gaugup opened #134 "Reduce cyclometric complexity of 'PrivateData.__init__' to less than 10"
flake8 . --count --max-complexity=10 --max-line-length=127 --statistics
.\dice_ml\data_interfaces\private_data_interface.py:16:5: C901 'PrivateData.__init__' is too complex (11)

[2021-05-03 19:32] gaugup opened #135 "Reduce cyclometric complexity of 'PublicData.__init__' to less than 10"
flake8 . --count --max-complexity=10 --max-line-length=127 --statistics
.\dice_ml\data_interfaces\public_data_interface.py:17:5: C901 'PublicData.__init__' is too complex (18)

[2021-05-03 19:33] gaugup opened #136 "Reduce cyclometric complexity of 'ExplainerBase.is_cf_valid' to less than 10"
flake8 . --count --max-complexity=10 --max-line-length=127 --statistics
.\dice_ml\explainer_interfaces\explainer_base.py:521:5: C901 'ExplainerBase.is_cf_valid' is too complex (11)

[2021-05-03 19:49] etheng-jiao opened #137 "AttributeError: 'Tensor' object has no attribute 'numpy'"
# Generate counterfactual examples
dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=4, desired_class="opposite")#,proximity_weight=1.5, diversity_weight=1.0)
# Visualize counterfactual explanation
dice_exp.visualize_as_dataframe()

--> 116         temp_preds = self.model.get_output(input_instance).numpy()
    117         return np.array([preds[(self.num_output_nodes-1):] for preds

[2021-05-03 21:28] gaugup commented on #137
@etheng-jiao, can you share the sample code which generated this error and which version dice-ml  are you using?

[2021-05-04 22:12] gaugup commented on #137
@etheng-jiao, BTW I tried to find the code line "temp_preds = self.model.get_output(input_instance).numpy()" in the DiCE code base and couldn't find it. It is possible that you are running an older version of dice-ml. Could you test with the release 0.6.0 of dice-ml?

[2021-05-06 07:50] amit-sharma commented on #38
Closing as the one-hot encoding was updated in v0.5.

[2021-05-06 07:50] #38 closed

[2021-05-06 07:51] amit-sharma commented on #129
Did the fix above work for you @etheng-jiao ?

[2021-05-06 07:53] amit-sharma commented on #56
Sorry missed your message @dayongfu DiCE can be used for any Pytorch/tensorflow model. Although we haven't tested it on a LSTM-based model, it should work as long as the model is differentiable.

[2021-05-06 07:53] #53 closed

[2021-05-06 10:01] amit-sharma commented on #43
Since v0.5, DiCE supports pipelines in the model. See this notebook, for example: https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_getting_started.ipynb
Hope this resolves the issue.

[2021-05-06 10:01] #43 closed

[2021-05-06 11:22] amit-sharma commented on #41
@konabuta DiCE supports any ML model that respects the scikit-learn API for `predict` and `predict_proba`. So if your model has these two functions, you can use it with the "sklearn" backend. I think LightGBM uses an API that is compatible with scikit-learn, so I think it should work.

Just use the backend="sklearn" and input the lightgbm model. It may work with XGBoost too.

For any model, you ca

[2021-05-06 11:26] amit-sharma commented on #10
@aayesha-coder @drishyamlabs As of v0.5, we have included support for non-differentiable models using the parameter `backend="sklearn"` for the `Model` class. All sklearn classifiers/regressors are supported. In addition, since DiCE only needs the `predict` and `predict_proba` functions, any model that implements these two sklearn-style functions will also work (e.g., LightGBM).

Here's an example

[2021-05-06 11:34] soundarya98 commented on #133
Dice genetic currently has two methods of initialization:
1. `kdtree`
2. `random`

1. `kdtree`:
If the initialization is set to `kdtree`, DiCE genetic picks the k (k is the number of counterfactuals desired by the user) closest points in the training set to the query instance.
- If k points from the training set satisfy other user-given constraints such as `permitted_range, features_to_vary`, the

[2021-05-06 11:36] soundarya98 commented on #133
Dice genetic currently has two methods of initialization:
`kdtree`, `random`

1. `kdtree`:
If the initialization is set to `kdtree`, DiCE genetic picks the k (k is the number of counterfactuals desired by the user) closest points in the training set to the query instance.
- If k points from the training set satisfy other user-given constraints such as `permitted_range, features_to_vary`, the retur

[2021-05-14 03:59] etheng-jiao commented on #129
Yeah, sorry for my late. The problem is about tensorflow2

[2021-05-14 09:42] Labaien96 opened #148 "DiCE on time-series data"
Hi, I was wondering if DiCE works with continuous variables such as time-series data or not.

[2021-05-14 13:04] tazitoo commented on #42
I ran into the same issue - new environment, install DiCE, install requirements (which installs TF 2.5), run the example from the README.md.  It fails to detect that the model is from TF2 and dies.

It seems that a simple way to accurately determine whether it's a TF1 or TF2 model is to try to initiate a session.  If you have TF2, it will error out like with:
`AttributeError: module 'tensorflow' h

[2021-05-15 06:09] gaugup commented on #148
I don't think DiCE library supports counterfactual generation for time series data as yet. CF for continuous variables is supported but not sure how do you capture the notion of time in your ML model.

@amit-sharma could shed more light on support for time series.

[2021-05-15 15:20] hobbitlzy opened #149 "AttributeError: 'DiceTensorFlow1' object has no attribute 'num_ouput_nodes'`"
Traceback (most recent call last):
  File "G:/nus/Deep_explanation/Dice_baseline.py", line 22, in <module>
    dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=4, desired_class="opposite")
  File "F:\Anaconda\lib\site-packages\dice_ml\explainer_interfaces\dice_tensorflow1.py", line 139, in generate_counterfactuals
    self.do_loss_initializations(yloss_type, diversity_loss_type, f

[2021-05-16 07:22] hobbitlzy opened #150 "Confusing running time on different datasets"
I am trying to find CF 5 examples on twodatasets: iris, wine. However, sometimes it takes more time for iris than wine (25sec VS 3sec). Moreover, the time spent on iris also fluctuates.  The iris dataset owns lessfeatures, which I expect to be fast. So, what is the relationship of explanation time and feature number (and query number and CF examples number). There are 5 queries and each query is r

[2021-05-16 13:10] gaugup commented on #150
@hobbitlzy, could you share some sample code that you are running for computing explanations for iris and wine?

The model agnostic approaches in DiCE are inference heavy which means they use the trained model to infer the predictions and spend significant time in using the trained model. So if the trained model's inference operation (like predict()/predict_proba()) are slow, then the run time wil

[2021-05-16 13:22] hobbitlzy commented on #150
I followed the code in "DiCE_multiclass_classification_and_regression.ipynb". The wine is loaded by `df_iris = load_wine(as_frame=True).frame`  to replace the code `df_iris = load_iris(as_frame=True).frame` . I don't think I changed any code except the number of queries. The underlying model I used is the "RandomForestClassifier", which is specified by the original code. I have tested different un

[2021-05-17 17:53] gaugup commented on #149
@hobbitlzy, could you take a look at https://github.com/interpretml/DiCE/issues/129. The error above looks similar to this issue.

if you are using tensorflow, then need to set the backend to TF1 (for tensorflow v1) or TF2.

m = dice_ml.Model(model=ann_model,backend='TF1').

Can you share the sample code that you executed and ran into the above error?

[2021-05-17 17:55] gaugup commented on #150
The features are perturbed by the DiCE library itself. You need to specify which features you wish to perturb. Let me try out wine. BTW which DICE ML version are you using?

[2021-05-17 19:03] gaugup commented on #150
@hobbitlzy, I tried with wine dataset and 5 query instances with 5 counterfactuals. I didn't find the performance vary a lot in multiple runs for computing counterfactuals.

Also, you can change the method type when initializing the dice-ml explainer.

exp_iris = Dice(d_iris, m_iris, method="random/kdtree/genetic"). The method "random" is the fastest among the three, generally (Of course this is s

[2021-05-18 09:19] hobbitlzy commented on #150
It is 0.6.1.  Really thanks for your reply, but I think the problem is that the iris dataset is time consuming (I also tried "random" method), which I think is strange. I do not konw whether it is correct to spend around 25sec to explain iris? Could you please share the typical time you spend on it for reference.

[2021-05-20 10:18] amit-sharma commented on #148
@Labaien96 DiCE works for continuous features. So it will interpret the timeseries also as a (unordered) set of continuous features.
There are ways to preprocess the data to make it work, but for that it is important to know the specific type of model you'd like to explain. Can you share some details on that? Does the model predict the next value of a timeseries?

[2021-05-20 11:53] #136 closed

[2021-05-21 07:24] amit-sharma commented on #150
paging @soundarya98 will be good to resolve this.

[2021-05-21 07:36] #135 closed

[2021-05-21 16:24] #134 closed

[2021-05-24 09:36] jpg2013 opened #155 "Problem with local feature importance in TF2"
I'm using dice with sklearn models and it works great, but when using it with Tensorflow2 I can't get the important features.

Code where it gives error:

           query = pd.DataFrame([self.xts[i]], columns=self.id_list)
            e1 = exp.generate_counterfactuals(
                query,
                total_CFs=10,
                desired_class="opposite",
                features_to_vary=l

[2021-05-25 14:07] gaugup commented on #155
@jpg2013 , Thanks for reporting this issue. We should be able to generate feature importance for tensorflow models using the model agnostic methods once the counterfactual themselves have been generated.

Could you maybe try:-

imp = exp.local_feature_importance([self.xts[i]], cf_examples_list=[e1])

Currently, looks like code wise feature importance may not be supported. It will be a feature requ

[2021-05-25 14:08] gaugup commented on #149
@hobbitlzy are you unblocked on this issue? If so, kindly close this issue.

[2021-05-25 14:10] gaugup commented on #129
@etheng-jiao did you give a try with 'TF2' when initializing the dice-ml model? Are you unblocked? If so, could you close this issue?

[2021-05-26 01:37] hobbitlzy commented on #149
Although I still do not know the problem when I use TF1, I moved to TF2 backend and it works.

[2021-05-26 01:37] #149 closed

[2021-05-26 13:51] jpg2013 commented on #155
Thank you, now I can get the important features with TF2.

[2021-06-07 21:40] gaugup commented on #155
Thanks @jpg2013 for confirming. We can align the return types in dice_tensorflow2.py so that you can use the generated counterfactuals and get the importance without the suggested indirection. The PR is at https://github.com/interpretml/DiCE/pull/158.

[2021-06-16 22:15] gaugup opened #161 "DiceRandom should validate the query instance"
If the category in some column in query_instance is not present in the training instance, then dice_genetic.py and dice_KD.py validate and throw an exception. But dice_random.py doesn't throw this exception. Specifically, the function https://github.com/interpretml/DiCE/blob/00e61efca8dbcf26cbd00f60ec8e80a6167b5782/dice_ml/explainer_interfaces/explainer_base.py#L141 needs to be called from dice_ra

[2021-06-17 19:30] prateeky2806 commented on #133
@soundarya98, thanks for the nice explanation. I had a slightly different question, I am not able to figure out which is the method used in the [paper](https://arxiv.org/pdf/1905.07697.pdf). I am trying to reproduce the results but having a hard time understand the configuration that is being used in the original paper. It would be great if you can provide some clarity on that.
Thanks,

[2021-06-17 19:45] prateeky2806 opened #162 "Some question related to FAT20 paper."
Hi all, I was going through the paper and find it really interesting. I was exploring the DICE code and I was not able to figure out which configurations were used in the FAT20 [paper](https://arxiv.org/pdf/1905.07697.pdf). What would be the appropriate steps for me to reproduce the dpp bsaed method described in the paper (with the corresponding numbers).  Any help in this regard would be apprecia

[2021-06-18 06:15] amit-sharma commented on #162
The FAccT 2020 paper uses a differentiable model from tensorflow 1.x. The current DiCE library has added support for Tensorflow 2.x and a few other changes for efficiency.

If you are interested in replicating the paper, then I suggest you to install an older version of DiCE (v0.4)  and follow the steps in this notebook: https://github.com/interpretml/DiCE/blob/d52094093e1c09563732b6db624fe34d1148

[2021-06-18 06:16] amit-sharma commented on #161
Good point. @soundarya98 can you add this to dice_random.py?

[2021-06-18 09:26] soundarya98 commented on #161
Sure! I'll add it to the tests as well

[2021-06-18 09:33] msank00 opened #163 "Is it possible to include the `DiCE` package under `conda` ?"
Hi Team,

Thanks for this wonderful package. Is it possible to onboard this package in `conda` ? We are trying to use the counterfactual explanation generation in one of our explainable project. But the data science development platform only installs package from `conda`. Will it be possible or is there any upcoming plan already?

Thanks

[2021-06-18 16:41] prateeky2806 commented on #162
Thank you very  much @amit-sharma for the quick and detailed response, this is really helpful. Maybe another silly question but can you also point me to the part of code which computes the different proposed metrics (validity, proximity, sparsity and diversity)? I am trying to reach a state where I can replicate results in Figure-1 for any of the datasets in the [paper](https://arxiv.org/pdf/1905.

[2021-06-19 01:04] gaugup commented on #163
Hi @msank00,

Thanks for trying out the package. There are no plans as yet. Creating a conda package would require our dependencies to be also installable via conda and have validations around conda package. Hence, it would require some effort. dice-ml should be installable via pip in the conda env. Could your team give a try with that?

Regards,

[2021-06-21 09:46] Saladino93 opened #165 "ValueError: ('Feature', ....., 'has a value outside the dataset.')"
I am using DICE  0.6.

I have a classifier, with some categorial and continuous features.

When I specify the continuous features, and run Dice

`query_instances = X_train[2:3]
genetic = expl.generate_counterfactuals(query_instances, total_CFs = 1, features_to_vary = features_to_vary, permitted_range = permitted_range, desired_class = 'opposite')
genetic.visualize_as_dataframe()`

I get `ValueErro

[2021-06-22 14:33] prateeky2806 commented on #165
Hi @Saladino93 , I am not from the DICE team but maybe you can try these two things.

1. Can you try to check the actual ranges of the all the features in the data and then see if the permitted range is a subset of that? Their code wants the permitted range to lie within the features ranges in the actual data.
2. Another thing that might be a cause is to define the variable types correctly, try sp

[2021-06-23 13:59] Saladino93 commented on #165
Thanks @prateeky2806 . I actually get the same problem even if I define permitted range for my  generation of counterfactuals.

I already define which variables are continuous too. Here is my code snippet:

`
d = dice_ml.Data(dataframe = data,
                 continuous_features = continuous_features,
                 outcome_name = outcome_name)

m = dice_ml.Model(model = model, backend = "sklea

[2021-06-23 14:33] Saladino93 opened #166 "Implementation of causality in DICE?"
I am not sure if I can ask here, or email the authors of the paper.... I really do not know with whom to discuss this, but I will try my luck here.

After reading the DICE paper, my understanding is that DICE as it is does not consider causal relationships among features.

**What I would like**
Suppose I have a structure model graph for all of my variables (for example made by hand, or an augmente

[2021-06-25 13:01] Saladino93 commented on #166
Ok, as a starting point I could use the results of the paper mentioned above,  https://arxiv.org/abs/1912.03277 (Preserving Causal Constraints in Counterfactual Explanations for Machine Learning Classifiers), as implemented [here](http://interpret.ml/DiCE/notebooks/DiCE_getting_started_feasible.html).

Does anyone know how to use it with sklearn?

[2021-06-28 01:47] sachinsrivastava0126 opened #168 "IndexError with no categorical features (again?)"
Hello! I'm trying to use DiCE to generate CEs for a regression model (am using xgboost) and am running into an IndexError with the generate_counterfactuals code _seemingly_ due to the fact that I don't have any categorical features or because there's something wrong with the way I'm passing data. A little unsure given #2 is closed.

Here is the stack trace:
<img width="1160" alt="issue" src="https

[2021-06-28 06:05] Jihyun-Yun-0110 opened #169 "How can I get the index of counterfactuals?"
Hi. Thank you for great package for Interpret.
Here's my question.
How can I get the index of counterfactuals?

--------------------------------------------------------
ebm = ExplainableBoostingClassifier(interactions=0)
ebm.fit(X_train[:10000], y_train[:10000])

d = dice_ml.Data(dataframe=df_train.iloc[:10000,1:],continuous_features=X_train.columns.tolist(), outcome_name='target')
m = dice_ml.Mod

[2021-06-28 11:45] amit-sharma commented on #169
@Jihyun-Yun-0110 If I understand your question correctly, you are asking for the index of the generated counterfactuals in the dataset.

The default method for `generate_counterfactuals` looks for the closest point that yields a different predicted class. This point need not be in the dataset. It is a simulated point that helps to understand the model's decision boundary, and therefore there is no

[2021-06-28 16:53] gaugup commented on #168
@sachinsrivastava0126, which version of dice-ml library are you using? The referenced issue was reported long back. Could you try with the latest dice-ml release 0.6.1?

[2021-06-28 17:12] sachinsrivastava0126 commented on #168
Yes using 0.6.1

[2021-06-28 17:50] prateeky2806 opened #170 "Evaluation Metrics described in the Paper"
Hi, I am working with DICE as a baseline model and I am trying to reach a state where I can replicate results in Figure-1 for any of the datasets in the [paper](https://arxiv.org/pdf/1905.07697.pdf). Can you point me to the part which computes the different proposed metrics (validity, proximity, sparsity and diversity)?

Thanks,
Prateek

[2021-06-28 18:00] gaugup commented on #168
Would you be able to share a sample notebook and dataset? I want to see if you are setting up the dice-ml explainer correctly.

[2021-06-29 07:17] amit-sharma commented on #166
@Saladino93 the question of obeying (causal) relationships is an important one. Thanks for raising this here.
Current research literature has taken a graph-based approach to specifying relationships. However in practice, obtaining the causal graph is a big challenge.

Therefore, in DiCE, we've taken a different approach based on constraints. The idea is that the user can provide constraints on the

[2021-06-29 07:19] amit-sharma commented on #166
Re causal constraints paper: Our paper on using causal constraints (the one you refer) does need Pytorch to work, because it uses the gradient of the model. So it is not trivial to extend it to sklearn models.

[2021-06-29 07:22] amit-sharma commented on #165
@Saladino93 can you provide a minimum working example (with a dummy dataset) to help us debug the issue?

[2021-06-29 07:23] amit-sharma commented on #170
@raam93 can you guide @prateeky2806 here on steps to reproduce?

[2021-06-29 07:28] Saladino93 commented on #166
Thanks a lot @amit-sharma !

My temporary solution for now was:

* Generate Causal Graph
* Use something like DoWhy to check for causality, e.g. estimate ACE, for each variable in the model.
* The most important variables for which I get a non zero effect are then used to constraint the CF generation

But I will try the second one you suggested! (If I remember this is also discussed in the causal

[2021-06-29 19:44] sachinsrivastava0126 commented on #168
The code/dataset isn't entirely mine so I am trying to get permission. I've been following this notebook for the setup: https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_multiclass_classification_and_regression.ipynb

In the meantime, here is the code where I instantiate the DiCE instance.

It's a bit messy but here's some info that might be useful
- dice_df is a copy of X

[2021-06-29 21:21] sachinsrivastava0126 commented on #168
Here is the notebook: https://colab.research.google.com/drive/1zrnTCmAXJpcTiWGnbPYjtdepWApBt9zY?usp=sharing

Most of the model code can be ignored and comes from here: https://www.kaggle.com/ryanholbrook/feature-engineering-for-house-prices

Dataset: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/data

[2021-06-30 05:20] amit-sharma commented on #170
@prateeky2806 you can follow this repo to reproduce all the metrics https://github.com/raam93/DiCE_evaluations

One thing to note: this code is only compatible with the first release of DiCE. So you'll need to install this version: https://github.com/interpretml/DiCE/releases/tag/v0.2

[2021-06-30 18:22] gaugup commented on #168
@sachinsrivastava0126, I will take a look at this today. Thanks for the pointers.

Regards,

[2021-06-30 18:22] sachinsrivastava0126 commented on #168
@gaugup

Update here. I had the wrong link previously. Sorry for any mix up

Here is the notebook: https://colab.research.google.com/drive/1zrnTCmAXJpcTiWGnbPYjtdepWApBt9zY?usp=sharing

Most of the model code can be ignored and comes from here: https://www.kaggle.com/ryanholbrook/feature-engineering-for-house-prices

Dataset: https://www.kaggle.com/c/house-prices-advanced-regression-techniques/dat

[2021-07-01 00:08] jh-0110 commented on #169
@amit-sharma Thank you for your kind reply.
I tried a method kd-tree, but I still want to get dataframe or array or index for the counterfactuals found.

[2021-07-01 02:12] soundarya98 commented on #169
Dear @jh-0110, Thanks for raising the issue.
We will address your issue in a new pull request coming shortly which will give the original indices of the counterfactuals found using `kd-tree'.

[2021-07-01 04:21] soundarya98 commented on #168
Dear @sachinsrivastava0126,
could you try dropping the outcome column and check if the error persists? I tried running the notebook, and it seems that this error gets fixed (and another one pops up) after the change.

`dice_df = dice_df.drop('SalePrice', axis=1)`

[2021-07-01 09:06] Saladino93 commented on #165
@amit-sharma  thanks for the reply. It turns out that the non continuous variables in the dataset have to be cast as 'category' in the pandas dataframe.

I discovered this when running DICE examples from the example notebooks. Basically the pandas dataframe when is passed as data in the dice Data, it gets automatically converted to the correct format with categorical variables as category.

I thin

[2021-07-01 09:06] #165 closed

[2021-07-01 14:11] sachinsrivastava0126 commented on #168
The error that popped up was because I accidentally deleted the line where the model is fit. Fixed.

I've tried dropping SalePrice from dice_df as well as passing in different formats to the query_instances parameter (dataframe, dict, list of 1 dict) and previously generate_counterfactuals seemingly got stuck at "Initializing initial parameters to the genetic algorithm..." for over 2 hours. This d

[2021-07-01 15:03] Saladino93 commented on #168
I am also obtaining the same problem, when using only continuous features...

`IndexError: list index out of range`

[2021-07-01 23:08] jh-0110 commented on #169
Thank you very much @amit-sharma , @soundarya98 :)

[2021-07-02 01:46] prateeky2806 commented on #170
Thanks @amit-sharma for the help. I can work with this to reproduce the results and go ahead with my work.

Thanks,
Prateek

[2021-07-02 14:18] soundarya98 commented on #168
Dear @sachinsrivastava0126,

The code is stuck in initialising parameters for the genetic algorithm because the model isn't able to find cfs in the desired_range that you have specified. I think this is because the model is trained poorly.

For example:
![image](https://user-images.githubusercontent.com/37398880/124287770-09aab500-db6e-11eb-9aa6-af4d6475976b.png)

Here, as you can see, the values

[2021-07-02 19:46] gaugup commented on #168
@sachinsrivastava0126, could you try with the findings from @soundarya98's response above? Could you look at your model training phase?

Regards,

[2021-07-02 22:21] sachinsrivastava0126 commented on #168
@soundarya98 @gaugup Sorry for the late reply. Thank you for noticing this oversight. The model is returning log(SalePrice) so I've changed the desired_range to account for this. However, I'm now once again running into an IndexError issue similar to the one in my original post. I'm using 1 query instance (X_train[279:280]) and requesting 1 counterfactual with no restrictions on which features to

[2021-07-02 23:02] gaugup commented on #168
@sachinsrivastava0126, you should include the SalesPrice in the dice_df and SalesPrices shouldn't be present in query_instances passed into generate_counterfactuals(). Can you please make sure that? Not sure what is X_train.

Regards,

[2021-07-03 03:16] sachinsrivastava0126 commented on #168
@gaugup  SalePrice is included in dice_df and not in the query_instance passed into generate_counterfactuals. X_train[279:280] is just an input example from the training set that I'm trying to generate a counterfactual for. Here is some output to confirm the details you mentioned

<img width="420" alt="Screen Shot 2021-07-02 at 11 14 41 PM" src="https://user-images.githubusercontent.com/15526466/1

[2021-07-04 05:11] djlwzw opened #173 "IndexError: tuple index out of range"
Hi,I have a question there, so I hope to get some help.
I use a dateset about MOOC, and I use a LSTM model. I want to predict whether students will drop out of school in the next week based on the data of the previous few weeks. Then I want to use DICE to generate some counterfactual examples for drop-out students. But I get a problem, I don’t know how to solve it.
What does 'self.num_output_nodes

[2021-07-04 11:39] djlwzw opened #174 "How can I save the CounterfactualExamples to a csv file？"
Hi, I want to save the CounterfactualExamples to a csv file. But I don't know how to do it?
Because I have many features in data, I can't see all the features in the dataframe.
So I need a help, thank you very much.

Such as this,
Diverse Counterfactual set (new outcome: 0.0)
  1_day 1_log 1_event_type 1_problem  ... 5_server 5_browser 5_module drop
0   7.0     -          1.0      34.0  ...    198

[2021-07-04 11:51] soundarya98 commented on #168
Dear @sachinsrivastava0126, thank you very much for bringing this issue to our notice. We have noticed a couple of bugs and will raise a PR shortly to resolve the issue.

[2021-07-05 03:17] Sreenath2019 opened #176 "DICE for Survival Model"
First of all, thank you so much for creating this wonderful package.
I am wondering if we can extend counterfactuals using DICE to survival models, especially those created using sksurv package (from sklearn family).
I couldn't any existing package which supports counterfactuals for survival models and will be extremely helpful to have one.
The paper "Counterfactual explanation of machine learning

[2021-07-05 05:59] msank00 opened #177 "Issue in use case: CounterFactual Explanation without accessing training data"
Hi Team,

Thanks for providing such an useful package.

Now following this tutorial [notebook](https://github.com/interpretml/DiCE/blob/1b4e79ede1deb644c2730cc31073cb374fd7c2d9/docs/source/notebooks/DiCE_with_private_data.ipynb), I am trying to generate **CounterFactual Explanation without accessing training data**.

My Data generation process is something like this

[code]

Next I tried to create

[2021-07-05 18:29] gaugup commented on #173
@djlwzw, the num_output_nodes is internal to DiCE nd represent the number of classes in a classification problem.

Whis version of dice-ml are you using in your environment?

Regards,

[2021-07-05 18:40] gaugup commented on #177
@msank00, sorry that you are facing this issue. There seems to be a bug in dice_random.py and it may not work with private dataset. I will have a PR out shortly to fix this.

Could you maybe in meantime try with method="genetic"/"kdtree"? From looking at the code, these should work.

 # Using method=genetic for generating CFs
private_exp = dice_ml.Dice(private_d, m, method="genetic")

[2021-07-05 18:42] gaugup commented on #161
Closing this issue as the attached PR is complete.

[2021-07-05 18:42] #161 closed

[2021-07-05 18:45] gaugup commented on #176
@Sreenath2019, DiCE should work with sksurv package. As long as you setup DiCE correctly and the sksurv models support a predict()/predict_proba() functions, DiCE should be able to generate counterfactuals. Please give a try and let us know.

FYI:- @amit-sharma

[2021-07-05 20:29] Saladino93 commented on #148
@amit-sharma do you have an example for this? I would be very interested!

[2021-07-06 01:15] Sreenath2019 commented on #176
@gaugup Thanks for the reply.

I did try DiCE on a sksurv model which I built and got the message "# AttributeError: 'GradientBoostingSurvivalAnalysis' object has no attribute 'predict_proba' ".

It does have a predict() but not predict_proba() function. Reference [here](https://scikit-survival.readthedocs.io/en/stable/api/generated/sksurv.ensemble.GradientBoostingSurvivalAnalysis.html).

[2021-07-06 03:30] gaugup commented on #176
@Sreenath2019, could you paste the code executed and the stack trace? for classification scenarios, predict_proba() is a supported function. Strange this particular sksurv model doesn't support predict_proba().

Regards,

[2021-07-06 04:37] Sreenath2019 commented on #176
@gaugup here is the code I used to create the model as well to (try) creating the counterfactuals.
[code]
Please note that this is a survival model (not a classification model with a definite yes/no outcome) and hence returns risk scores/hazard ratios, not probabilities.
Thank you

[2021-07-06 09:16] amit-sharma commented on #174
@djlwzw the counterfactual set is actually a pandas dataframe. You can access the pandas dataframe as `e1.cf_examples_list[0].final_cfs_df` and then use [`df.to_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html) function from pandas to store as a csv. For details see the answer in #119

[code]

[2021-07-06 17:01] gaugup commented on #176
Thanks @Sreenath2019 for the sample code. If the output of the GradientBoostingSurvivalAnalysis model are ratios, then shouldn't this be explained via DiCE as regression task instead? You could set the 'desired_range' parameter in generate_counterfactuals() function and set the expected range accordingly?

[2021-07-06 23:00] gaugup commented on #177
@amit-sharma, does the dice-ml private data interface work with dice_random.py, dice_genetic.py and dice_kd_tree.py? Or is this scenario not supported as of now?

[2021-07-07 05:39] djlwzw commented on #174
Thank you very much for your help, my problem has been solved, thank you again

[2021-07-07 05:42] djlwzw commented on #173
Thank you for your reply, I am using the latest dice-ml release 0.6.1.

[2021-07-07 13:07] Saladino93 opened #180 "Time series data with DICE?"
Hi everyone,

I am still quite new to machine learning coding. I managed to do a few things with DICE, although I was wondering how do you manage time series data for a general model?

The idea is that the counterfactual explainer has to be able to respect time ordering when generating counterfactuals. The only idea I have till now is to just post-filter counterfactuals after they are generated...

[2021-07-07 15:52] #174 closed

[2021-07-07 15:55] amit-sharma commented on #177
This scenario is not supported as of now. Can look to implement it for dice_random and dice_genetic.

Dice_kd does require access to the dataset so it will not work. Perhaps we can add a clear exception for this.

[2021-07-07 16:00] amit-sharma commented on #180
This is a great question and depends on the causal relationships between features. We had some [preliminary work](https://arxiv.org/abs/1912.03277) on this but it may take some time to be integrated fully with DiCE.

I think your post-filtering step is simple and effective. As long as you generate enough number of CFs, post-filtering on them should return the desired CFs.
In the future, we may act

[2021-07-07 16:05] amit-sharma commented on #173
@djlwzw have you tried the getting-started example with pytorch in this [notebook](https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_getting_started.ipynb)?

Does this simple example work? It will also help if you can share a minimum working example that produces this error. My guess is that the LSTM output may be of a different dimension than the classification models.

[2021-07-07 17:10] gaugup commented on #177
Thanks for confirming @amit-sharma. I created a milestone https://github.com/interpretml/DiCE/milestone/2 and added the issue to that.

[2021-07-07 17:10] gaugup opened #181 "dice kdtree is not supported for private data"
Need to raise a user exception if a user configures kdtree explainer with private data interface

[2021-07-07 17:11] gaugup opened #182 "Need to support private data interface for dice genetic"

[2021-07-07 20:31] sachinsrivastava0126 commented on #168
@soundarya98 @gaugup No problem. Thanks much for your assistance. When can we expect the changes to be merged?

[2021-07-07 21:02] sachinsrivastava0126 commented on #168
@soundarya98 @gaugup  No problem. Thank you so much for your help! Closing

[2021-07-07 21:02] #168 closed

[2021-07-08 03:45] djlwzw commented on #173
I tried that simple example, and it ran successfully. Your guess is correct. The output of my model is inconsistent with the classification dimension. Then I found the reason and I have succeeded. Thank you for your help.

[2021-07-08 16:27] Saladino93 commented on #180
@amit-sharma  thanks for your reply! Yes, I am aware of that work, although it does not seem to deal directly with time series. Maybe one with some manipulation could make it work.

For me it would be ideal to choose the constraints, plus respect causality among features for a fixed time, plus causality along time.

I do not have for now specific constraints in mind (but if I come I will let you k

[2021-07-09 06:07] #181 closed

[2021-07-12 04:29] Sreenath2019 commented on #176
Thank you @gaugup . I am not sure whether I understood you fully. Can you please give a short code example, assuming my desired range of ratios is between 0 & 1. This might give me a better picture. Thanks

[2021-07-12 19:10] sparsh999gupta opened #184 "Counterfactual Examples for Autoencoder based Anomaly Detection"
Hello everybody,

I am trying to generate Counterfactual explanation for an Anomaly Detection Task, by an Autoencoder model.

So, I have already used SHAP (https://github.com/slundberg/shap), to generate Feature Importance graphs, for Local Explainability.

Now, whilst generating Counterfactual examples I am facing some issues, particularly when creating the instance with background data:-
Here, i

[2021-07-16 09:56] Saladino93 commented on #180
@amit-sharma sorry to disturb you again, but would you have any idea if DICE will support time series?

[2021-07-16 14:02] toufic0710 opened #185 "ValueError: ('Feature', ....., 'has a value outside the dataset.')"
Hi,

I know this question has already been asked but the solution does not work for me. I want to adapt the first tutorial notebook to this code :

from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split

[2021-07-16 16:58] orbidder opened #186 "Is it possible to limit DiCE to only vary one feature at a time for each counterfactual?"
Really enjoying this library, so thanks to everyone who has worked on it. I know that we can use the 'features_to_vary' arg to limit DiCE to produce counterfactuals from a subset of features, but is it possible to limit the number of features varied in any given counterfactual? For example, in the credit case study given in the docs, say I want to generate counterfactuals from the features age and

[2021-07-20 09:22] amit-sharma commented on #185
Usually it is the dtype of the columns that causes this error. Let me try to run your code and check what is happening.

[2021-07-22 10:17] Saladino93 opened #189 "Training data for Dice"
Something is unclear to me is how data is handled with Dice.

So, ideally we should have some training data over which we train the explorer, then a separate data set over which to apply it, am I right?

So why in several examples I see the dice_ml.Data take all the available data, then apply to the same data the counterfactual engine?

[2021-07-22 14:07] toufic0710 commented on #185
Thank you for your time!

[2021-07-22 23:48] gaugup commented on #189
@Saladino93 yes dice-ml explainers can be trained with just training data and then counterfactuals can be generate on any test set.

Which  notebooks are you refering to?

Regards,

[2021-07-22 23:52] gaugup commented on #186
@orbidder, thanks for your question. Dice-ml library handles string categoricals. So you don't need to one hot encode the data and then train dice-ml. You need to identify the numeric/contnous features in your data and dice-ml library treats other features as categoricals and handles them accordingly. Could you give this a try?

I don't see a string reason to restrict varying of features one a tim

[2021-07-25 10:32] MLcase opened #191 "Get raw counterfactual data as dataframe"
Hi,

in the getting started notebook, the counterfactuals are obtained by creating a `CounterfactualExplanations` object `e1` and then calling `visualize_as_dataframe()` on it. However, instead of visualizing the dataframe, is it possible to get access to the dataframe as a pandas object?

Thanks :)

Martin

[2021-07-26 06:14] amit-sharma commented on #191
See this issue: #174. Does it solve your problem?

[2021-07-26 07:20] MLcase commented on #191
That's exactly what I was looking for, thank you very much :)

I will close this issue now.

[2021-07-26 07:20] #191 closed

[2021-07-27 08:31] Saladino93 commented on #189
Thanks @gaugup . This was a notebook for example where dice Data are all of the data https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_getting_started.ipynb

[2021-07-27 13:22] Saladino93 opened #192 "Negative dimensions are not allowed"
I was trying to generate 30 CFs for the adult data set, I get this:

<img width="1203" alt="Screenshot 2021-07-27 at 14 21 08" src="https://user-images.githubusercontent.com/23438226/127160919-423010d9-4fea-4d66-bcfb-df8e2e79cf1a.png">

Seems it is related to the random generation (even if I am using the genetic method, probably not enough samples from training)

[2021-07-27 23:26] gaugup commented on #192
@Saladino93, which notebook did you use to generate this error and did you use total_CFs as 30 with genertic explainer?

Regards,

[2021-07-27 23:29] gaugup commented on #189
Thanks @Saladino93. We can update the notebook to use samples from test set to generate the counterfactuals. But the choice of train/test to generate the counterfactuals should not impact the counterfactual generation as such. Does that help with you original question?

Regards,

[2021-07-28 05:35] gaugup commented on #192
@soundarya98 and @amit-sharma is seems like dice_genetic cannot generate counterfactuals greater than 25. Looking at this line https://github.com/interpretml/DiCE/blob/004dbd508ea2b801b5f3ca26a87a25eafc19e1f0/dice_ml/explainer_interfaces/dice_genetic.py#L462

rest_members = self.population_size - top_members

The self.population_size is defaulted to 25. Is this something by design?

Regards,

[2021-07-28 14:04] Saladino93 opened #193 "Possible suggestions for improvements"
I am starting to get more familiar with DICE. It is a fantastic library thanks a lot guys.

I wanted to ask what it is your roadmap for improvements (apart from the things mentioned in the intro docs)?

I am thinking:

* **Allow for a tolerance parameter**, for when varying continuous parameters. In the `feature_importance ` function in http://interpret.ml/DiCE/_modules/dice_ml/explainer_interface

[2021-07-28 15:28] amit-sharma commented on #193
All these are great ideas @Saladino93 Thanks for sharing them.
The first two can be implemented.  The fourth one is on our roadmap but needs more thought for timeseries.  Causality is harder and it may take some time for the research to mature to think of putting it in DiCE.

For the last two suggestions, would you like to contribute to DiCE? It will be really nice to have the last one especially

[2021-07-28 20:02] Saladino93 commented on #189
@gaugup makes sense, thanks!

[2021-07-28 20:03] Saladino93 commented on #186
@gaugup  I also tried to vary only one feature at a time, with no success, just waiting, for the adult data example. I do not know if this is a bug, or the optimization problem.

[2021-07-28 20:05] Saladino93 commented on #193
@amit-sharma  Sure, I can try to help! Will write up something and share with you!

[2021-07-28 20:43] orbidder commented on #186
@gaugup, understood that Dice-ml can handle string categoricals, but not all models can. So for those cases, being able to limit to only one change would help for these models. For the time being, my idea for a work around is to manually code a loop where generate_counterfactuals() is given only one of the one-hot-encoded levels to vary at a time. Perhaps that's a short term solution.

To your sec

[2021-07-28 21:08] Saladino93 commented on #186
@gaugup  @orbidder  Note that here https://arxiv.org/abs/2011.04917 (Towards Unifying Feature Attribution and Counterfactual Explanations: Different Means to the Same End) they are able to do one by one (as they generate the necessity and sufficiency metrics) right @amit-sharma ?

I coded these for myself, and when I wanted to try on the adult data I was not able, due to dice not generating anythi

[2021-07-28 21:54] orbidder commented on #186
@Saladino93 Thanks for sharing that paper. It would be really useful if dice-ml could also provide a function for calculating feature Necessity and Sufficiency too. I think I'd use that a bunch in my work.

[2021-07-29 14:23] amit-sharma commented on #192
Oh, that's a good point. @soundarya98 can you look into this? Can we set this as a parameter that is accessible to the user and can be changed?

[2021-07-29 14:33] soundarya98 commented on #192
Yup, that can definitely be done. We could set it to 10* total_CFs by default and have the user set it if needed

[2021-07-29 14:55] amit-sharma commented on #186
Slightly late to this discussion, let me chime in.
1. The original issue about supporting post-hoc filtering is a good one. It isn't required if the model supports categorical variables, but becomes a problem with one-hot encoded data as @orbidder mentions. However, rather than adding a solution for this specific filter, I wonder if we can think broadly about a general API for post-hoc filters.
It

[2021-07-29 17:01] gaugup commented on #192
@amit-sharma, @soundarya98  I feel this can be still an internal parameter. But we should handle the negative value scenario more gracefully. What if user set a low for population_size and higher value for counterfactuals. The dice genetic code will still fail with similar stack trace.

I propose to not do the computation below line 427 if the rest_members is negative or zero. What do you think?

[2021-07-29 21:15] soundarya98 commented on #192
Yup sounds good! We can have 2 options: default - 10* total_CFs or a user-defined parameter. If the user-defined parameter is smaller than total_CFs, we can raise an exception in the setup function in explainer_base perhaps

[2021-07-30 09:27] Saladino93 opened #195 "Can local importance be greater than one?"
Not sure if I misunderstood it non correctly, but I thought local importance was the fraction of changes for a particular feature when generating N counterfactuals for a particular example. Being a fraction, by definition it should be at most 1.

But, I ran an example with some dataset, and I got this:

<img width="520" alt="Screenshot 2021-07-30 at 10 26 35" src="https://user-images.githubusercon

[2021-07-30 09:43] Saladino93 commented on #186
@amit-sharma  Sure, will do this. So, just to understand, what you did in your paper was to use the random algorithm then? I always thought it is better to NOT use that as you might lose correlations of the original dataset.

As regarding the post-filtering, what I did is the following:

Define a Filter class with some tabu_changes.

For example:

tabu_changes = {}
tabu_changes['education'] = [['M

[2021-07-30 10:09] Saladino93 commented on #193
@amit-sharma  would you mind sharing some thoughts on the time series counterfactuals please?

[2021-07-30 18:05] gaugup commented on #195
@Saladino93, from the logic it does not looks like it local importance should not be greater than 1.0. One possiblitiy is some feature being regarded both as categorical and continous. Can you check your configuration?

Regards,

[2021-08-02 21:06] gaugup commented on #192
I suppose it doesn't solve the problem entirely. Firstly, we should carefully think about exposing population_size as a reconfigurable parameter. I feel it is an algorithm constant (very specific to dice_genetic.py) so shouldn't be user configurable. Secondly, configuring a large value still doesn't garauntee safety against the crash that is reported by the user here.

What is the issue with conti

[2021-08-02 21:09] gaugup commented on #189
@Saladino93, the above PR is merged now. The example notebook should use test data for generation of CFs. Can we close this issue?

[2021-08-03 08:14] Saladino93 commented on #195
Sorry @gaugup  what do you mean by "One possiblitiy is some feature being regarded both as categorical and continous"?

I set all the continuous variables with the dedicated key word. I thought it was a bug as it should not give at most one.... Will check!

[2021-08-03 08:15] Saladino93 commented on #189
Yes, I can close it, thanks!

[2021-08-03 10:58] Saladino93 commented on #189
Just noted you write:

 d = dice_ml.Data(dataframe=dataset, continuous_features=['age', 'hours_per_week'], outcome_name='income')

but I think dataset = training data, not all of the data.

Thanks.

[2021-08-03 18:43] gaugup commented on #195
@Saladino93, I see a potential bug in calculation of local importance. Could you maybe share a notebook where you see this issue?

Regards,

[2021-08-03 21:22] gaugup commented on #189
Sorry about my understanding of the problem. I changed the dataset for dice-ml data interface to a train dataset. PR is here:- https://github.com/interpretml/DiCE/pull/198

[2021-08-04 06:10] gaugup commented on #195
@Saladino93, I was able to find a bug in the computation of the feature importances. The PR to fix this is at https://github.com/interpretml/DiCE/pull/199/files. Could you maybe try with the changes in explainer_base.py in this PR to see if that fixes your local feature importnace problem here?

Regards,

[2021-08-04 12:13] Saladino93 commented on #195
@gaugup  fantastic, thanks a lot mate!

Here is the result
<img width="486" alt="Screenshot 2021-08-04 at 13 11 40" src="https://user-images.githubusercontent.com/23438226/128178588-dc26c3cd-1a4c-4153-b6b7-5650f71a3e0a.png">

Now my only problem is that there are too many features at one hahaa. Probably I have to look into how the changes are made. Also I have to understand this substitution of MA

[2021-08-04 12:13] #195 closed

[2021-08-05 07:08] jtonglet opened #200 "Support for XGBoost with metadata"
Does DiCE allow to work with XGBoost?

I've tried to run it using only  with the metadata properties of the features and got the following error :
![image](https://user-images.githubusercontent.com/49620076/128307015-349c9278-2340-417c-8b54-e90ade382e3a.png)

[2021-08-05 09:11] amit-sharma commented on #200
DiCE works with any model that follows sklearn's predict API.

The error is because you are using the private interface, which is useful only in some privacy scenarios where you do not have access to the train data. Instead, can you try passing in the xgboost_model to the DiCE constructor as in the [getting started example](https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE

[2021-08-05 14:26] #200 closed

[2021-08-05 14:44] jtonglet opened #201 "Converting the counterfactuals as a DataFrame"
Thanks for the great tool!
It is currently possible to visualize the counterfactuals as a DataFrame.

Is it also possible to actually store the counterfactuals in a Pandas DataFrame object for further manipulations with Seaborn, matplotlib, ... ?

[2021-08-05 16:42] gaugup commented on #189
@Saladino93, the above PR is merged now. Can we close this issue?

Regards,

[2021-08-05 22:00] gaugup commented on #201
@jtonglet, could you maybe look at the discussion in issue https://github.com/interpretml/DiCE/issues/174 to see if it helps answet your question?

Regards,

[2021-08-08 07:42] #201 closed

[2021-08-09 06:58] amit-sharma commented on #192
Good point about being specific to algorithm, @gaugup. Let's keep it as an internal parameter then.
The crash can occur whenever `top_members=self.total_CFs` is higher than the `population_size`. So if we initialize population_size as a multiple of total_CFs, then perhaps Soundarya is indicating that this bug should not come up.

Regardless, let's also add the if-else check that you propose. My su

[2021-08-09 07:46] soundarya98 commented on #192
@amit-sharma

@amit-sharma, I hadn't included the check because the error cannot come up unless population_size is lesser than total_CFs. But I can add the check just in case anyway in case someone changes the code in the future!

[2021-08-10 09:38] Saladino93 opened #206 "Robustness of generated CFs"
I noticed that running several times the generation of CFs, that is basically an optimization, gives me different counterfactuals for different runs.... Should I tune the parameters of the optimization or is this expected?

Also the same happens if I generate a different number of CFs (supposing it is not from the above problem).

Finally, suppose I generate 20 CFs.... How am I going to use this i

[2021-08-11 09:30] Saladino93 commented on #206
Ok, it seems to happen only with random, and setting random_seed solves.

Btw, I see that genetic algo sometimes does not give a new cfs output.

[2021-08-11 09:35] amit-sharma commented on #206
that makes sense. Didn't understand your comment on genetic algorithm---it fails to provide any output?

On your other question, the CFs are useful for algorithmic recourse in the real world. Consider a model that provided a decision to a user and the user wants to know how to change their features to obtain the desired outcome. Then they can explore these counterfactual examples to see the viable

[2021-08-11 11:19] Saladino93 commented on #206
@amit-sharma  , basically what happens is that I have something like this

<img width="1207" alt="Screenshot 2021-08-11 at 12 10 17" src="https://user-images.githubusercontent.com/23438226/129019247-d2d2d57f-78b5-416c-9fa9-8028f4ae0b07.png">

, and so it seems to not give me new counterfactuals for the output, even if it is perturbing the inputs.

Regarding your comment, thanks a lot. Yes, given t

[2021-08-11 11:20] Saladino93 commented on #206
p.p.s

Would you be interested in some filtering code, and some simple reason generator? I do not know which checks should be done, but I am still testing these.

[2021-08-11 18:18] gaugup commented on #189
closing this issue since the related PR is merged.

[2021-08-11 18:18] #189 closed

[2021-08-12 04:14] #192 closed

[2021-08-12 04:14] amit-sharma commented on #192
@Saladino93 this has been fixed through PR #205

[2021-08-13 06:46] learnXAI opened #209 "Running Dataset mentioned in FAT 20 conference paper"
Hi,

I am trying to Use DICE to generate CFs on other datasets (Lending Club, German-credit, and Compas) mentioned in the DICE paper of 'FAT 20' but unlike Adult-income dataset, I do not see any tutorial on GItHub about how to run the others. Can you please berief idea on what I need to do to be able to run models trained on other datasets.

I will really appreciate your help!
looking forward to y

[2021-08-17 06:02] amit-sharma commented on #209
You can look at the answer to this issue #170 That has a link to the relevant code.

[2021-08-18 17:50] learnXAI commented on #209
Thank you, Amit.
Appreciate your help!

[2021-08-20 04:40] #209 closed

[2021-08-20 19:30] gaugup commented on #173
@djlwzw could you close this issue if you are unblocked?

Regards,

[2021-08-26 11:56] Saladino93 opened #215 "Generating opposite class does not work as expected"
Hi all,

here is the problem: given a binary classifier, when generating counterfactuals with desired_class='opposite' class as desired, if the original outcome is 0, then the counterfactual has 1 as new outcome. But, if the original outcome is 1, then the counterfactual is still 1 as new outcome, giving me different inputs that lead to 1.

I have to manually set desired_class to 0 for the cases o

[2021-08-28 22:22] ramaswami1gomathy commented on #174
Hi, can anyone help me in saving the counterfactual as a CSV file? I tried using the above-mentioned method (df.to_csv())but not working.

[2021-08-28 22:30] ramaswami1gomathy opened #216 "Saving counterfactual as a CSV file"
Hi, can anyone please help me in saving the counterfactual as a CSV file? I tried using  (df.to_csv())but not working.

[2021-08-30 14:20] soloccc opened #217 "when using a trained pytorch model,the error:running_mean should contain xx elements not xx"
I have already trained a pytorch model, the error occurs in the following sentence:
exp = dice_ml.Dice(d, m)

the ERROR show as follows:
RuntimeError: running_mean should contain 69 elements not 41
I have saw some explainations,saying that the solution is to  align the output dimensions of BN layer and conv layer. But when I trained my model,it did not show this problem.My model trained successful

[2021-08-31 23:02] ramaswami1gomathy opened #218 "Need help with counterfactual"
Hi,
I have a dataset with 190 rows and when I use DiCE it gets frozen at some point and not executing afterward and not getting any error too, can anyone please help me.

[2021-09-01 17:16] gaugup commented on #218
@ramaswami1gomathy, can you provide the sample notebook, dice-ml version and dataset that you running?

Regards,

[2021-09-01 17:18] gaugup commented on #217
@soloccc, can you share the notebook code that you are running?

Regards,

[2021-09-01 17:22] gaugup commented on #216
@ramaswami1gomathy can you take a look at https://github.com/interpretml/DiCE/issues/174 to see how to extract the counterfactuals as a pandas dataframe and saving these as a csv?

Regards,

[2021-09-01 23:25] ramaswami1gomathy commented on #218
Hi, Thanks for the reply. I am using DICE version 0.6.1.
![image](https://user-images.githubusercontent.com/69368227/131758160-585b4713-470e-469b-8129-9a8cd610ebc3.png)

[2021-09-02 04:18] gaugup commented on #218
Thanks @ramaswami1gomathy. Is dice-ml able to generate CFs for one point or 10 points? It seems like you are using 330 points. dice-ml takes roughly 0.5 second to generate counterfactuals for one query point. For 330 points it might take close to 3 mintues.

Is it possible for you to share notebook and data set? I can try to reproduce and debug where dice-ml is taking longer.

Regards,

[2021-09-02 07:40] ramaswami1gomathy commented on #218
Hi, sorry because of privacy issues I can't share my dataset. If I give fewer points (say 30) it is working fine. For 330 points it is taking more than an hour to execute. Should I need to install any additional package to make it faster?

[2021-09-06 02:06] soloccc commented on #217
@gaugup
 thx for the reply. I`m new for DL,so maybe can`t figure out the problem.
codes are as follows:
`

    import numpy as np
    import pandas as pd
    from sklearn.model_selection import train_test_split
    from sklearn.ensemble import RandomForestClassifier
    import dice_ml
    from dice_ml.utils import helpers  # helper functions
    from torch.autograd import Variable
    import torch

[2021-09-06 02:06] soloccc commented on #217
@gaugup
 thx for the reply. I`m new for DL,so maybe can`t figure out the problem.
codes are as follows:
`

    import numpy as np
    import pandas as pd
    from sklearn.model_selection import train_test_split
    from sklearn.ensemble import RandomForestClassifier
    import dice_ml
    from dice_ml.utils import helpers  # helper functions
    from torch.autograd import Variable
    import torch

[2021-09-07 11:44] shreyakhandelwal07 opened #221 "Support for non-numeric classes"
Currently, it seems that DiCE only supports numeric classes. Are you planning to include support for non numeric classes as well?

[2021-09-07 15:29] londumas opened #222 "Categorical have to be strings"
When using a dataset with categorical data,
if some of these data are not strings, then the following line will produce a bug.

[code]

[code]

The solution is then to convert all the data to strings with what follows.

[code]

One can simply test this bug with the jupyter notebook:
https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_model_agnostic_CFs.ipynb
by replacing the

[2021-09-07 21:49] gaugup commented on #221
@shreyakhandelwal07 could you elaborate more on numeric classes bit?

Regards,

[2021-09-08 10:17] shreyakhandelwal07 commented on #221
For instance, my dataset has  3 classes - 'Car', 'Truck', 'Bike'. DiCE expects the desired class for the counterfactuals to be numeric.
`if desired_class_input == "opposite":
            if num_output_nodes == 2:
                original_pred_1 = np.argmax(original_pred)
                target_class = int(1 - original_pred_1)
                return target_class
            elif num_output_nodes >

[2021-09-08 12:28] londumas commented on #185
This is solved here: https://github.com/interpretml/DiCE/issues/222
The issue comes from the fact that your categorical features can not be integers or floats, they have to be strings.

[2021-09-08 14:53] londumas opened #224 "Deal with missing values"
There does not seem to be a support for missing values currently.
For example dealing with the 'Age' feature in the Titanic dataset:

[code]

[code]

[2021-09-08 18:34] gaugup commented on #224
@londumas does some sample of the query_instance has a missing value? I think if dice-ml doesn't handle this scenario it is ok. Shouldn't the user woryy about supplying a legitimate value for all columns in query_instance? How would dice-ml go about generating CFs if the value in a column is not known apriori?

Regards,

[2021-09-13 12:09] grtwrrn opened #226 "Unable to generate counterfactuals for certain instances"
Hi,

I've trained DICE with a k-nn classifier, and want to generate counterfactuals for a test set from the same dataset. It works fine for most instances in the test set, but for others, it remains stuck indefinitely (see screenshot below). I'm wondering why this is, and how it can be fixed. Thanks!

![image](https://user-images.githubusercontent.com/73856081/133080176-41b61c5e-4360-4105-b38e-4af

[2021-09-13 16:46] gaugup commented on #226
@grtwrrn, sorry you ran into this issue. Could you provide the sample code and the dataset so that I can repro the issue at my end? Which version of dice-ml are you running? The latest is 0.7.1. If you could try with 0.7.1 and see if you still continue to run into the issue.

Regards,

[2021-09-14 10:54] djlwzw opened #227 "Can't genetate counterfactuals for all query instances"
Hi, I trained an LSTM model using the feature vectors extracted from the data recorded by the students. I want to use DiCE to generate counterfactuals on the test set data, but I haven't found them. I want to know what caused it. And there will be a warning. Is it because there are many zeros in my feature vector?

An instance to query is like the following,
![image](https://user-images.githubuser

[2021-09-14 13:16] djlwzw commented on #227
According to the tips given, I might adjust the values of some parameters, but I don’t know which parameters should be adjusted? And what should be the range of each parameter?

[2021-09-14 16:45] grtwrrn commented on #226
Hi @gaugup, thanks for your response! I've updated to 0.7.1 now but I'm still running into the same issue. I'm not sure if I have permission to share the dataset so I won't here, but this is my code:
![image](https://user-images.githubusercontent.com/73856081/133298979-cbc60cb3-9a48-44ca-8ef8-7d423bbe5d11.png)
![image](https://user-images.githubusercontent.com/73856081/133298998-3448a188-7a1c-4db3

[2021-09-20 07:26] vdesai24 opened #232 "Not getting predited_probability for counterfactuals using RandomForest Classifier"
Hi,

I am trying to generate counterfactuals for a classification model. Trained the model using RandomForestClassifier.
I am expecting the target variable should show the predicted probability. It is showing predicted class instead.
What changes do I need to make  to give me the predcited probabilities in the generated counterfactuals.
Below is the code to generate counterfactuals:
model = Random

[2021-09-21 05:42] gaugup commented on #232
@vdesai24, the output for the counterfactual is currently only shows the desired_class which is either 0 or 1. We could add another column which can contain the probabilities of the target class in classification scenario.

@amit-sharma what do you think about adding additional column for adding probabilities in classification scenarios?

Regards,

[2021-09-28 15:39] tmbluth opened #235 "AttributeError: module 'tensorflow' has no attribute 'get_default_session' when using sklearn models"
This issue is somewhat related to https://github.com/interpretml/DiCE/issues/42 except in this case I am trying to use sklearn instead of tensorflow.

My assumption is that not using a tensorflow model would mean tensorflow 1.x would not be required. When I try to use tensorflow 1.x I get even more errors so I'm wondering if I could avoid it altogether

[code]

This is on a Windows 10 VM and dice_

[2021-09-28 16:38] gaugup commented on #235
@tmbluth in the line of code **m = dice_ml.Model(model=clf)**, the default for the backend is tensorflow 1 ('TF1'). However, since you are using a sklearn model you should specify the backend as 'sklearn'. You could do the following and see if this helps fix the issue:-

`
m = dice_ml.Model(model=clf, backend='sklearn')
`
Regards,

[2021-09-29 16:13] tmbluth commented on #235
Thats it, thank you @gaugup. If you could, do you have additional documentation and examples of how to use this module?

[2021-09-29 16:13] #235 closed

[2021-09-29 16:47] gaugup commented on #216
@ramaswami1gomathy did the steps in the above issue help you make progress on saving the counterfactuals? We have also documented the steps in the projet readme like below:-

# Generate counterfactual examples
dice_exp = exp.generate_counterfactuals(query_instance, total_CFs=4, desired_class="opposite")
# Visualize counterfactual explanation
dice_exp.visualize_as_dataframe()
# Save generated count

[2021-10-04 20:21] gaugup commented on #216
closing this issue due to no activity.

[2021-10-04 20:21] #216 closed

[2021-10-10 11:33] amit-sharma commented on #232
yes, that's a good idea. We just need to call the classifier again on the returned CF data to obtain the predicted probabilities. This would be a general solution that can work for any CF method. For efficiency, we may make it as an optional flag, so that this additional computation is not done.

[2021-10-10 11:57] amit-sharma commented on #227
The set of warnings indicate that those features have most of their values as 0 (median absolute deviation is 0).
You may want to disable diversity and reduce the proximity constraint (increase the distance from the original point) to increase chances of CF generation.  See the docs [here](http://interpret.ml/DiCE/dice_ml.explainer_interfaces.html#dice_ml.explainer_interfaces.dice_pytorch.DicePyTo

[2021-10-10 11:59] amit-sharma commented on #226
It's unclear why CF generation is successful for the raw data but not the z-scored ones. Is it possible to share a minimum working example so we can debug? Perhaps a simulated data close to yours?

[2021-10-10 12:03] amit-sharma commented on #222
This is due to use of `labelencoder` from sklearn that expects a string. Having categoricals as numeric values is possible, but raises the risk of confusion in case a user does not explicitly provide the data type (and wanted it to be treated as a numerical column).

Therefore, it is safer that one pre-processes the categorical columns to be non-numeric, before passing to DiCE.

[2021-10-10 12:07] amit-sharma commented on #221
Thanks for raising this @shreyakhandelwal07 Agree, this can be a useful feature for classification models. However, it may require specific logic for handling strings in many places. We will look to support it in a future release.

[2021-10-10 12:12] amit-sharma commented on #218
The running time should scale linearly with the number of input points. Is that what you are observing? Or there is a marked increase?

[2021-10-10 12:13] #170 closed

[2021-10-21 06:49] amit-sharma commented on #232
We will have to see how to prioritize this change, given the other enhancements we are working on. Hopefully this will be included in the next release, near Dec.

[2021-10-21 18:53] vdesai24 commented on #232
Thanks @amit-sharma

[2021-11-11 17:55] somahota commented on #227
Hi, @amit-sharma. I am encountering the same issue - not generating counterfactuals for any instance.
I followed the doc and made the following changes to the code :

[code]
However, this is giving me an error: TypeError: _generate_counterfactuals() got an unexpected keyword argument 'proximity_weight'

How do I fix this? You mentioned disable diversity but not sure how to do that.

[2021-11-12 19:52] somahota opened #244 "How to improve counterfactuals"
Hi @amit-sharma @gaugup
I am working on a dummy HR dataset to generate counterfactuals to prevent employee attrition. 0 means no attrition and 1 means attrition. I am trying to generate counterfactuals from 1(original outcome) to 0.

It is generating incorrect counterfactuals as seen in the screenshot - eg. instead of increasing satisfaction score, it is decreasing it.

<img width="644" alt="Scree

[2021-11-15 22:54] gaugup commented on #244
@somahota, could you share sample that you are using to generate the counterfactuals?

For the binary classification scenario, you should use desired_class as "opposite".

Regards,

[2021-11-16 17:12] somahota commented on #244
Hi, @gaugup , do you mean share the sample dataset? I have shared it on my original post above. Here, it is https://drive.google.com/file/d/1Hs7jfBFSjE_Ed6jRBCTjiFFzOsl7gMde/view

Also, I have made a small change which is giving me relatively better results but still not good enough (screenshots attached below).
Here's the code to generate counterfactuals:
[code]

<img width="648" alt="Screen Shot

[2021-11-16 18:26] gaugup commented on #244
Thanks for the sample code and the screen shots @somahota. For the original question of incorrect counterfactuals, when you have a binary classification scenario you may want to set "desired_class" as "opposite".

Happy to see that you were able to improve the counterfactuals.

I am trying to understand the motive behind the counterfactual generation here. Looking at the dataset, I don't think tha

[2021-11-17 07:00] junqi-jiang opened #245 "Cannot handle categorical features when using PyTorch models"
I am using DiCE for PyTorch on heterogeneous datasets, binary classification. I pass in the continuous feature indices and the original dataset for the data interface, and a trained model for the model interface.

The model was trained on the one-hot-encoded version of the dataset, and if OHEd correctly, the number of features changes from 9 to 27.

if I do `d.get_encoded_categorical_feature_index

[2021-11-17 23:34] gaugup commented on #245
@junqi-jiang, could you share some code sample which gave you this error?

Regards,

[2021-11-18 14:46] finnschwall opened #246 "Tutorial for own model implementation"
Hello,
I am trying to use DiCE for truly model-independent counterfactual generation. But I am unable to create my own model interface.
Could you add a tutorial or give a short description how to do this?
Or help me with my implementation?

I tried writing a model-interface which acts a wrapper for pytorch since I already know this model _theoretically_ works. The code is mostly copied from the py

[2021-11-18 15:34] amit-sharma commented on #246
@finnschwall From the error description, looks like the error might be related to your dataset.
Have you tried the dataset with a standard sklearn model (e.g., `LinearRegression`) and check if the code works. That will help debug whether it is due to the custom model or due to the data.

Also in your code, how is `m` defined? I don't see it defined after line 2.

From a quick glance, the structure

[2021-11-18 17:54] gaugup commented on #246
@finnschwall, the model that you are wrapping is still a pytorch model. So the genetic method may not apply to it. As Amit mentioned could you paste the line of code on how you instantiate the model?

Regards,

[2021-11-18 17:59] somahota commented on #244
Thank you @gaugup  for your elaborate response, super helpful. You brought up a great point regarding features being controlled by the HR vs employee. last_evaluation is HR controlled, however, satisfaction is employee controlled.
However, strangely, I am getting better results including both those features in my features_to_vary list.

Also, initially, I did set my "desired_class" as "opposite" b

[2021-11-18 18:06] gaugup commented on #244
@somahota, I would suggest investigating the dataset and the model in more details to see why it might be that including those features help your cf generation. I feel some causal analysis could help you figure out if those features actually affect your outcome and based on the causal analysis you could determine your feature for cf genrration.

Regarding setting the desired_class as opposite coul

[2021-11-19 05:48] junqi-jiang commented on #245
Sure! I did this:

`m = dice_ml.Model(model = model, backend='PYT')`
`d = dice_ml.Data(dataframe=df,
                     continuous_features=cont_feat_names,
                     outcome_name="Risk")`
`exp = dice_ml.Dice(d, m)`
`query = {
    'Age':45,
    'Sex':1,
    'Job':2,
    'Housing':0,
    'Saving accounts':0,
    'Checking account':0,
    'Credit amount':7882,
    'Duration':42,
    'Pu

[2021-11-19 10:11] finnschwall commented on #246
@amit-sharma Thanks for the quick reply. Testing with a random forest classifier indeed revealed an error with my data.
But I still don't have any success. Now the prediction works with the rfc but still not with my model. It says it is missing a "prediction function". Is there a way to do it without having a prediction function in the underlying model just with the get_output function?
Here the r

[2021-11-22 07:42] javirandor opened #247 ".to_json() throwing error"
I encountered some problems when using the method `.to_json()` in counterfactuals. I don't really know what is making it crash in certain scenarios. You can reproduce it by using your public Notebook for classification: https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_multiclass_classification_and_regression.ipynb

If you try to generate a JSON dump of the first set of co

[2021-11-22 22:12] gaugup commented on #247
@javirandor what version of dice-ml are you seeing this issue with?

[2021-11-23 07:42] gaugup commented on #247
@javirandor, I was able to repro the issue using the referred notebook. I have created a PR https://github.com/interpretml/DiCE/pull/248 to fix this issue. The fix should be able in the upcoming dice-ml release.

Regards,

[2021-11-23 07:48] gaugup commented on #244
@somahota, if there is no further enquiries on the issue, could you maybe close this issue? It seems we don't have anything to fix in the dice-ml library. What do you think?

Regards,

[2021-11-23 17:02] somahota commented on #244
@gaugup, sorry about the delay in response. I'd be more than happy to share my output setting desired_class as opposite for further investigation, however, it's been a hectic week so I'd only be able to do so by coming weekend.

Let me know if I should leave it open till I share that output or close it.

[2021-11-23 17:57] gaugup commented on #244
No worries. We can keep this open until you post the requested outputs.

Regards,

[2021-11-29 07:28] amit-sharma commented on #246
@finnschwall  you are almost there! If I understand correctly, you just need to replace the below line,
[code]
with a custom `Model` that extends `BaseModel`.
[code]
and then replace the `get_output` method. I see that you had already done that in your first post.  That should have worked.

Can you share the full stack trace of the error?

On your second question: Using `backend="PYT"` does two th

[2021-11-29 07:48] #247 closed

[2021-11-29 20:22] somahota commented on #244
Hi, @gaugup . I have attached the screenshot of the output when I set the desired_class to "opposite".

<img width="653" alt="Screen Shot 2021-11-29 at 12 16 21 PM" src="https://user-images.githubusercontent.com/29649458/143936876-e7c0965d-020f-42ad-b30c-932308cb2047.png">

Also, I encountered another error when trying other parameters (proximity_weight) to improve my counterfactuals.
<img width="

[2021-11-29 20:48] gaugup commented on #244
@somahota Thanks for the outputs.

For the first, do you mind sharing a notebook? I see that you have shared the dataset. We should look in more detail on why this should happen.

For second one, are you trying to use "genetic" method within "sklearn" model type? IF so, then we have a bug in our code which doesn't allow to propagate "proximity_weight" to the dice_genetic.py code.

Regards,

[2021-11-30 17:32] somahota commented on #244
@gaugup, sure. Here's the notebook
[Github_Notebook.pdf](https://github.com/interpretml/DiCE/files/7627571/Github_Notebook.pdf)

I tried using those parameters with both "genetic" and "random" method but still the error.

[2021-12-01 19:29] gaugup commented on #244
Thanks @somahota for the notebook. For fixing the error I have created PR https://github.com/interpretml/DiCE/pull/251. Please bear in mind the the parameters like "proximity_weight" only apply to "genetic" and not to "random"/"kdtree".

I am yet to debug issue where setting "opposite" wouldn't generate expected counterfactuals.

[2021-12-02 09:55] finnschwall commented on #246
Thanks for the clarification on the backend parameter.
Here the full error stacktrace:

[code]

[2021-12-09 16:47] NikkiRoodenrijs commented on #222
Hi!!

I got the same bug error, when running the function exp_genetic.generate_counterfactuals However, when I use exp_random.generate_counterfactuals, I don't get this error. Can you explain, why this error is only raised for the function exp_random.generate_counterfactuals?

Furthermore, I was trying to fix the error with the comments  @amit-sharma and @londumas, but still didn't succeed in runn

[2021-12-17 14:15] candalfigomoro commented on #224
@gaugup
I think a missing value is a legitimate value. Packages such as xgboost and lightgbm support features with missing values. I think DiCE should also handle missing values without having to impute them.

[2021-12-28 00:53] gaugup commented on #106
Closing this issue due to no activity.

[2021-12-28 00:54] #106 closed

[2021-12-30 13:52] giandos200 opened #254 "Error line 262 dice_KD.py"
Hi, I am using Dice to find different counterfactuals for each instance. However a simple error appears while running my code. In the file dice_KD.py when the tool finds fewer counterfactuals than those requested in the print at line 262

               print('Only %d (required %d) ' % (total_cfs_found, self.total_CFs),

the attribute self.total_CFs is never defined before. Certainly solvable in a

[2022-01-01 04:52] gaugup commented on #254
@giandos200 thanks for pointing out the issue. I have created PR https://github.com/interpretml/DiCE/pull/255 to address this.

Regards,

[2022-01-01 05:17] giandos200 commented on #254
Hi @gaugup! I'm using dice in order to search for more CF for a single instance (>= one hundreds)and i've changed something in the code in order to speed up the KDTree init in the GA. Can i partecipate in the PR #255 or should i open a new PR to push the suggested improvements?

[2022-01-01 05:29] gaugup commented on #254
@giandos200 feel free to aend another PR to for computation speed up. This will be a great enhancement to add. We will help with the reviews.

Regarda,

[2022-01-03 12:22] #254 closed

[2022-01-03 15:54] cdeterman opened #256 "Auto one-hot encoding?"
I have a large training dataset (ie. >1M) that contains only int64 and float64 data types.  However, when I pass the dataframe and a limited list of features I am interested in it errors out due to being unable to allocate over 1TB of memory for a massize 1Mx1M matrix.  Looking at the stack trace that is provided after the error I see numerous points where it is trying to dummy encode features usi

[2022-01-04 08:38] gaugup commented on #256
@cdeterman, could try setting `features_to_vary` while generating counterfactuals instead of setting `continuous_features` in data_d? If all of your features are continuous, then you don't need to set the `continuous_features` parameter. DiCE would treat all of your features as continuous and would not try to auto one-hot encode.

[code]

You can use the notebook https://github.com/interpretml/DiC

[2022-01-06 16:29] cdeterman commented on #256
@gaugup thank you, however, if I remove the `continuous_features` argument and try to continue with just the `features_to_vary` I get a `ValueError: continuous_features should be provided`.  Any further thoughts?

[2022-01-06 16:52] gaugup commented on #256
@cdeterman, sorry you should specify all the features names in your training data (excluding the target) in the list for continous features. Just that the **features_to_vary** should have the features that you intend to vary for the counterfactuals.

Regards,

[2022-01-11 03:27] cdeterman commented on #256
@gaugup thank you, this seems to have resolved the issue.

[2022-01-11 03:27] #256 closed

[2022-01-11 03:33] cdeterman opened #258 "Cache internal counterfactual calculations?"
I have a large training dataset (>1M).  I'm not sure if that impacts the time for generating counterfactuals but when I am trying to generate counterfactuals from an internal xgboost model it is taking a very long time for 10 samples.  The dummy code is pretty similar to what I have seen in the example notebooks.

[code]

Can any of this process be cached to make subsequent calls faster?

[2022-01-11 05:40] gaugup commented on #256
Great to hear this.

Regards,

[2022-01-12 10:29] gaugup commented on #258
Hi,

The training data is just required for learning different things about the data. The generate_counterfactuals() is the actual call that generates the counterfactuals. So size of the training data shouldn't impact the long time seen during generation of counterfactuals.

Since each query instance is separate, the counterfactuals for each query instance maybe different. So a caching strategy ma

[2022-01-12 14:05] cdeterman commented on #258
Is it normal for the generate call to take more than 24 hours for only 10 instances?  It just seemed like something must be off for that long of a call.

[2022-01-13 06:12] gaugup commented on #258
No it is not normal. It seems like a bug. Are you able to reproduce this consistently?

Regards,

[2022-01-13 15:54] cdeterman commented on #258
I have repeatedly done so with my dataset.  Would it adding `permitted_ranges` help speed things perhaps?  Any ideas why it would be running so slowly?  I have even tried running it with only 2 instances and it just continues to hang.

[2022-01-14 01:42] cdeterman commented on #258
Some additional details, I am using a previously trained `xgboost` model.  I can call the `predict_proba` call with no issues on the same input dataset I am trying to use here.  Just trying to track down what all possible reasons there are for this to be hanging on the counterfactuals call.  Thanks

[2022-01-15 14:42] hadjipantelis commented on #10
In fairness, this can now be closed. LightGBM/XGBoost work (mostly) fine now.

[2022-01-16 02:26] hadjipantelis opened #260 "Both LGBMClassifier & XGBClassifier classifiers vary features they should not when creating counterfactuals."
DiCE seems awesome. Thank you for your work on it!

I am trying to use DiCE with XGBoost/LightGBM but I am getting some unexpected behaviour. First and foremost, DiCE seems to "partially ignore" the list of features to vary. In the example below, `generate_counterfactuals` consistently changes a features that is not on the list.

[code]

I have the suspicion that DiCE does that because they are no

[2022-01-16 12:50] djlwzw commented on #227
First of all thanks for your help, about this LSTM model has been able to find counterfactual explanations. Then I wanted to explain the CNN-LSTM model, and I also checked the description of the relevant documents, and tried to modify many kinds of parameters, but there was no counterfactual result. Is this combined model inappropriate? And it takes about 9 minutes to find a single counterfactual

[2022-01-17 17:36] cdeterman commented on #258
I want to check back if there is anything else I could do to troubleshoot this slow processing.  Would it perhaps be related to the ‘sklearn’ backend with xgboost?

[2022-01-21 19:43] cdeterman commented on #258
I have also tried to reproduce the examples in the notebooks included in this repository.  However, when I try to load the 'Adult' dataset I get the following error.  So I cannot even confirm if I can run the examples.  Are you able to pull the data?  Is this expected?

[code]

[2022-01-25 08:01] #244 closed

[2022-01-25 18:26] gaugup opened #265 "Replace load_boston with alternate regression dataset"
As noted in https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_boston.html the Boston housing dataset is being deprecated due to a significant ethical concern:

Warning: The Boston housing prices dataset has an ethical problem: as investigated in [1], the authors of this dataset engineered a non-invertible variable “B” assuming that racial self-segregation had a positive impac

[2022-01-26 04:18] amit-sharma commented on #260
thanks for reporting this, @hadjipantelis Let me have a look and try to reproduce this--the correct behavior is to return no CFs in case `features_to_vary`  cannot lead to a CF.

[2022-01-26 13:03] hadjipantelis commented on #260
Thank you for looking this up. For the record, I tried with `scikit-learn` `0.24.2` in case that was one of the culprits and I got the same behaviour.

[2022-01-30 16:44] danielsaggau commented on #265
I saw the same issue and tried to replicate the example for the California housing dataset. Attached the link to the notebook I am using. It is still a WIP though: https://github.com/danielsaggau/DICE/blob/master/Cali_DiCE.ipynb

[2022-02-16 18:42] Aaryanverma opened #270 "ValueError: query data dimension must match training data dimension"
while generating counterfactuals with 'genetic' method, the following error appears:

`ValueError: query data dimension must match training data dimension`

[code]

Dataset used : adult income dataset
Checked dimensions of both training data and query data, both are the same.
However, with 'random' method, it works perfectly.

Pls, help with this issue.

[2022-02-22 08:28] gaugup commented on #270
@amit-sharma, I see the same issue with one of the github issues in responsible-ai-toolbox at https://github.com/microsoft/responsible-ai-toolbox/issues/1151. Attached is the notebook code which reproduces this issue.

[code]

[2022-02-22 09:54] amit-sharma commented on #270
Let me take a look.  @soundarya98 do you have an answer to this question?

[2022-02-28 13:41] #265 closed

[2022-03-03 13:23] prunprun opened #272 "Bug in DicePyTorch"
I am trying to use DiCE for multiclass prediction with a pytorch model. However when creating the Dice object I get the following error:

[code]

For my model in dice_pytorch.py line 40

`self.model.get_num_output_nodes(len(self.data_interface.ohe_encoded_feature_names))`

returns a torch.Size object with an index 0 (and not 1). It contains the correct size of the output tensor. If I change the li

[2022-03-03 14:09] #272 closed

[2022-03-04 15:50] prunprun opened #273 "Multiclass Prediction with PyTorch Model"
Hello everyone!

is there support for multiclass prediction with PyTorch models? My first attempt failed and after a quick glance into the code of the DicePyTorch class is appears to me that only binary classification is supported. I have the same impression for the corresponding Tensorflow class. Is my observation correct and multiclass prediction is not supported vor deep learning models or am I

[2022-03-06 17:52] gaugup commented on #273
@prunprun, could you paste the error that you saw with DicePytorch?

Regards,

[2022-03-07 20:43] gaugup commented on #273
@prunprun, could you turn off the `posthoc_sparsity_param` by setting this to None in your `generate_counterfactuals()` function call? That way the function `do_posthoc_sparsity_enhancement()` wouldn't get called. Let's see if the counterfactuals are computed without the `posthoc_sparsity_param`. We can then debug the scenario with `posthoc_sparsity_param`.

Regards,

[2022-03-08 09:08] prunprun commented on #273
With `posthoch_sparsity_param = None` I receive the following message:

[code]

This is strange because the output of a regular forward pass of the model output is:

[code]

so instead of `action =  -1.213` I would have expected 'action = 2'.

[2022-03-09 11:15] prunprun commented on #273
@gaugup, if you could take a look at this it would be much appreciated!

[2022-03-10 08:42] sunsssk commented on #273
@prunprun hi, from` generate_counterfactuals`'s interface description, param `desired_class` can take 0 or 1, It seems to confirm your guess.

[2022-03-10 10:04] amit-sharma commented on #270
Thanks @Aaryanverma for flagging this. This error was caused when the `query_instance` had a categorical column which was numerically encoded and so it was assumed numeric. This will be fixed now with PR #274

[2022-03-11 08:41] prunprun commented on #273
@sunsssk Thank you! Maybe it should be added to the documentation which backend works with multiclass prediction.

[2022-03-11 08:56] prunprun commented on #273
@sunsssk However in the Multiclass example the `DiceGenetic` class is used where documentation of `generate_counterfactuals()` says as well that `desired_class` can only take 0 or 1. So I think you cant rely on the documentation too much.

[2022-03-15 09:20] iuush commented on #184
I am also facing the same issue, if you have got the solution please help.

[2022-03-15 09:22] iuush opened #275 "DiCE Explanations for Autoencoder model having Time series Data"

[2022-03-21 18:36] gaugup commented on #275
@iuush could you provide more description as to what you are looking for?

Regards,

[2022-03-22 06:23] iuush commented on #275
Dear Gaurav,

I am using an Autoencoder model for finding the anomaly in the tabular
data. But your package is not working for my model and code.

PFA my code(Notebook).

On Tue, Mar 22, 2022 at 12:07 AM Gaurav Gupta ***@***.***>
wrote:

[2022-03-22 08:59] iuush commented on #275
Dear Gaurav,

I need it urgently. Could you please help me ASAP.

Thanks
Ayush
+91-9528553052

On Tue, Mar 22, 2022 at 11:53 AM Ayush ***@***.***> wrote:

[2022-03-22 11:05] iuush commented on #275
Dear Gaurav,

I am using an Autoencoder model for finding the anomaly in the tabular
data. But your package is not working for my model and code.

PFA my Model()

On Tue, Mar 22, 2022 at 2:29 PM Ayush ***@***.***> wrote:

[2022-03-22 11:05] iuush commented on #275
Dear Gaurav,

I need it urgently. Could you please help me ASAP.

Thanks
Ayush
+91-9528553052

On Tue, Mar 22, 2022 at 4:35 PM Ayush ***@***.***> wrote:

[2022-03-22 11:12] amit-sharma commented on #275
@iuush I looked through your messages above and did not find the attached notebook or model. Can you reshare it?

We need a minimum reproducible code to understand the issue.

[2022-03-25 13:27] DBrughmans opened #276 "proximity loss when there are not continous features"
``

[2022-03-25 19:21] gaugup commented on #276
@DBrughmans, can you paste the error or the stack trace here?

[2022-03-28 16:15] JonathanCauchi opened #278 "How does DiCE compute local and global feature importance scores?"
I'd like to know what the underlying techniques are for computing these scores

[2022-03-29 14:27] JonathanCauchi commented on #278
Thanks a lot!

[2022-03-29 14:27] #278 closed

[2022-03-30 09:45] giandos200 opened #279 "panda.append()"
Method deprecated, please substitute row 124 of dice_random.py with:
`cfs_df = pd.concat([cfs_df,rows_to_add])`
and row 562 of dice_genetic.py with:
`ret_df = pd.concat([ret_df,df])`

[2022-03-30 11:26] iuush commented on #275
Dear Interpretml/Dice team,

This model is not working for a LSTM autoencoder model or any autoencoder
model.

My autoencoder model is:

 # create a model by subclassing Model class in tensorflow
class AutoEncoder(Model):
  """
  Parameters
  ----------
  output_units: int
    Number of output units

  code_size: int
    Number of units in bottle neck
  """

  def __init__(self, output_units, code

[2022-03-30 16:57] gaugup commented on #279
Thanks @giandos200  for the suggestion. We have a created a PR at https://github.com/interpretml/DiCE/pull/280 to make this change.

Regards,

[2022-03-31 08:49] iuush commented on #275
Dear Gaurav,

Could you please share your contact number. It would be very helpful.

Thanks
Ayush

On Wed, Mar 30, 2022 at 4:56 PM Ayush ***@***.***> wrote:

[2022-04-01 09:27] marco-matarese opened #281 "No counterfactuals found!"
Is it possible to have "No counterfactuals found!" as output of the generate_counterfactual function or am I doing something wrong?
I'm using a PyTorch deep neural network to manage an RL agent playing connect 4. I'm following the website instructions so I'm a bit confused because sometimes the explainer isn't able to find me any counterfactual, which is a scenario that I didn't take into account:

[2022-04-01 09:32] amit-sharma commented on #281
It is possible to obtain zero CFs. This depends on the specific algorithm used to find the CFs. It usually means that the algorithm kept searching in the wrong subspace. Changing the parameters and/or the CF algorithm often helps. Also make sure that `features_to_vary` is set to `all`

[2022-04-01 09:42] marco-matarese commented on #281
Thank you for your fast reply :)
Since I'm using a PyTorch model, I can use only the "random" method (as far as I understood) and I didn't set the features_to_vary parameter so it should be set to "all" by default. With regard to the other parameters, I also tried to change proximity_weight and diversity_weight but I'm not so sure about their value ranges.

[2022-04-05 07:59] PaoloFantine opened #283 "Accessing counterfactual dataframe"
Is there any way to return the data frame (or a dict) with the counterfactuals? Currently, I can only visualize the counterfactuals as a data frame, but accessing it would allow, for example, to produce plots and so on without too much manual effort. I think it would be a rather simple addition?

[2022-04-05 10:52] prunprun commented on #281
@marco-matarese See my issue (https://github.com/interpretml/DiCE/issues/273). To me it seems that PyTorch and TF backends don't support multiclass prediction (which corresponds to discrete RL). I got the same error as you. I transformed my PyTorch model to a sklearn pipeline which worked with DiCE. Also see their multiclass example notebook.

[2022-04-05 12:31] marco-matarese commented on #281
@bruno-hoermann thank you very much! I have already thought about the solution you're suggesting, but I first wanted to try with no "backend translations".

[2022-04-05 12:31] #281 closed

[2022-04-05 14:02] amit-sharma commented on #283
Refer to #174 Hope that solves your issue.

[2022-04-05 14:37] PaoloFantine commented on #283
Solves it. Thank you very much!

[2022-04-05 14:52] PaoloFantine opened #284 "Feature ranges"
I am using the drug consumption dataset for a multiclass classification and trying to enforce some permitted ranges like:
[code]

however, I get counterfactuals with values well outside those ranges. I wonder whether this is a bug or, in case there are no available counterfactuals within those ranges, they are somehow overidden?

[2022-04-07 07:17] gaugup commented on #284
@PaoloFantine there are no parameters like 'continuous_features', 'instance', 'model', 'backend' in the `generate_counterfactuals` method. Could you may be use the sample notebooks from https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_getting_started.ipynb to correct the above code?

[2022-04-07 20:35] gaugup commented on #283
@PaoloFantine closing this issue as your query has been answered. Please re-open if you think you need help with accessing the counterfactuals dataframe.

Regards,

[2022-04-07 20:35] #283 closed

[2022-04-07 20:36] gaugup commented on #276
@DBrughmans can you paste the error or the stack trace here so that we can make progress on this issue?

[2022-04-07 21:57] gaugup commented on #284
We should be respecting the range. If you could share a sample notebook and dataset, it will be possible for us to dig into this issue.

Regards,

[2022-04-07 23:08] #279 closed

[2022-04-13 09:51] tonyabracadabra commented on #284
apart from the ranges for the continuous variables, how can I set the range for categorical variables? for example I have a categorical variable that contains four categories (A, B, C, D) and I only want the counterfactuals to vary to `A, B, C` excluding `D`

[2022-04-20 05:50] ShikhaIIMA opened #287 "Can explanation be created for test data instances?"
Can we use x_test in generating local feature importance
[code]

[2022-04-20 08:05] gaugup commented on #284
@tonyabracadabra, You can do something like this below:-

[code]

That should be a signal to dice to use only categories 'A', 'B' and 'C' to generate counterfactuals.

Hope this helps.

P.S. Since this question is not related to the original question, we will really appreciate if you opened a new issue for these queries.

[2022-04-21 14:42] wangyongjie-ntu opened #288 "implementation of hinge_loss"
Can anyone help explain why the implementation of hinge_loss is different from the description in the paper? is it necessary to convert probability into logits first, then compute the difference between target class and logits?  line 244 - 252 in https://github.com/interpretml/DiCE/blob/master/dice_ml/explainer_interfaces/dice_pytorch.py.  Why not directly compute the difference between target pro

[2022-04-22 06:44] tonyabracadabra commented on #166
Are you trying to apply post-hoc filtering based on estimations from DoWhy? I assume this will be pretty costly especially when you have a lot of counterfactuals since each of them will formulate a different estimand and estimate them separately

[2022-04-22 07:07] #288 closed

[2022-04-24 10:57] tonyabracadabra commented on #46
Hey Raphael, it's been a while now, do you mind revisiting this issue and open the PR for it?

[2022-04-25 10:33] rmazzine commented on #46
Surely! I will make a reproducible code for the error again first, then, make the necessary modifications.

[2022-04-25 10:40] tonyabracadabra commented on #46
Thanks Raphael

[2022-04-27 13:47] ShadiKhoury opened #290 "DataFrame.dtypes for data must be int, float or bool. Error even if the data is float"
the code was running fine last week but today as i try to run the same code i'm bumping into this issue/ Error:

![image](https://user-images.githubusercontent.com/88155916/165532956-bda92259-908b-4547-ad97-5185816b7867.png)

even if the data is in float type .

![image](https://user-images.githubusercontent.com/88155916/165533285-6b6cd4b1-4d84-4b5a-a0cd-13a5aa0eb685.png)

![image](https://user-im

[2022-04-27 21:47] gaugup commented on #290
@ShadiKhoury If all your feature are continuous then why don't you specify them in the dicedata initialization?

can you try setting all your features as a python list in dicedata initialization?

Regards,

[2022-05-04 03:35] MartinStrobel opened #291 "Typos in dice_tensorflow1.py"
`self.num_output_nodes `

is spelled

`self.num_ouput_nodes `

in lines 228, 242, 249 and 257

[2022-05-05 05:06] #291 closed

[2022-05-06 18:05] gaugup commented on #287
closing this issue as no response on this for about 2 weeks. Please re-open another one if you still have questions on this.

[2022-05-06 18:05] #287 closed

[2022-05-06 18:06] gaugup commented on #290
@ShadiKhoury does the above suggestion help you make progress on generating counterfactuals? If, so may be we can close this isssue.

Regards,

[2022-05-06 18:13] ShadiKhoury commented on #290
My features are all binary in a float format either 0.0 or 1.0 , even if I try to convert them all into int it still give’s the same error.
And as I stated before this issue was not present when running DICE on the same data set , it’s new bug .

[2022-05-06 19:35] gaugup commented on #290
@ShadiKhoury can you share a sample dataset and notebook? Not sure we can help in triaging this issue without a local repro.

Regards,

[2022-05-08 05:35] ShadiKhoury commented on #290
[smaple_data_set.xlsx](https://github.com/interpretml/DiCE/files/8646382/smaple_data_set.xlsx)

def interpretation (trian_data,test_data,trian_labels,test_labels,model,feature_imprtance_type="dice_local_cf"):
    #imports
    import pandas as pd
    import numpy as np
    import math
    import json
    import plotly.graph_objs as go
    from sklearn.linear_model import LogisticRegression
    from

[2022-05-08 12:29] rmazzine commented on #46
Sorry for the late response!

Here's the updated notebook reproducing the problem:
https://colab.research.google.com/drive/1vIJ79cV1WmNAl2usZJIBNIxdcFQn3H_h?usp=sharing

I think the solution can be simpler. From my tests, the linear search should not take more than 10k steps. Therefore, just adding a counter and establishing an upper limit is sufficient.

You can see this change in this commit: ht

[2022-05-09 07:51] #270 closed

[2022-05-09 17:29] ninaspreitzer opened #294 "DiCE doesn't change my outcome"
Hello,

when I try to run DiCE, the proposed explanations do not change my outcome from 0 to .
<img width="902" alt="Bildschirmfoto 2022-05-09 um 19 26 05" src="https://user-images.githubusercontent.com/57034840/167464266-e8b1c53d-94b6-4e66-9f73-97d16e045993.png">

I am only trying the basic settings with the adult dataset and didn't change anything of the code.
any idea what I am doing wrong?
Che

[2022-05-09 17:38] ninaspreitzer commented on #215
I am having a similar issue, but also when the outcome is 0 and should be changed to 1
was there any solution found already?
(These are basic settings, didn't change anything from the code)
<img width="902" alt="Bildschirmfoto 2022-05-09 um 18 05 54" src="https://user-images.githubusercontent.com/57034840/167466091-5c6d1e20-4197-40fc-a468-5fff2c47cd5a.png">

[2022-05-09 20:12] ddefranza opened #295 "error "unexpected keyword argument 'desired_range'" for TF regression models"
Hello,

I have a DNN model built in Keras and TensorFlow with a regression output. When I call the
`generate_counterfactuals` function, I receive the error:

`TypeError: generate_counterfactuals() got an unexpected keyword argument 'desired_range'`

The code that generates the error is:

[code]

System info:
Google Colab
Python        3.7.13
dice-ml       0.7.2
keras           2.8.0
tensorflow   2

[2022-05-10 01:00] gaugup commented on #295
@ddefranza it looks like we don't support `desired_range` for TF2. @amit-sharma are there any plans to support regression for TF2 models soon?

[2022-05-10 05:11] amit-sharma commented on #295
yeah, this is a work-in-progress for TF models. At this point, it might be end-June by which we can support this.

[2022-05-10 05:23] amit-sharma commented on #294
That should not be happening. Can you share a working example of the exact code you are running to get this output? It will be helpful to debug. Are you following the getting started notebook?

[2022-05-10 08:10] ninaspreitzer commented on #294
Hello amit, thank you so much for your answer! Yes I have followed the getting started and it is definitely odd as I remember that it once worked also for me.
<img width="902" alt="Bildschirmfoto 2022-05-09 um 18 05 54" src="https://user-images.githubusercontent.com/57034840/167579296-9e606390-8f7f-4b18-a6b7-c8a172b9ddff.png">

Some background maybe also doesn't hurt: I was trying to run the CARE

[2022-05-10 19:01] kabirwalia8300 commented on #290
Was this resolved?

[2022-05-10 23:48] gaugup commented on #290
@ShadiKhoury can you set `continuous_features` to all your train feature names in line `dicedata = dice_ml.Data(dataframe=trainn_data,continuous_features=[], outcome_name="labels")` can give another try?

[2022-05-11 08:07] ShadiKhoury commented on #290
when applying all continuous_features to all the features in my data set it worked like before  👍  . for now, it's okay but doesn't this defies the purpose of this input?  as my features aren't continuous at all ?

[2022-05-14 12:33] ninaspreitzer opened #297 "Wachter implementation"
Hey everyone,

in the paper is mentioned that DiCE is compared to SimpleCF proposed by Wachter, is there the code of generating those Counterfactuals in this repo?
I am afraid I cannot find it in the files

Thanks so much for the help!
Cheers

[2022-05-16 04:12] amit-sharma commented on #297
The method works only for differentiable models like neural networks. It is not included separately, but if you set the diversity loss coefficient to be zero for the tf or pytorch explainers, then you will obtain a method same as theirs.

If you notice any difficulties, let us know.

[2022-05-18 11:47] xueyagaga opened #298 "How to early stop? The regression task runs without results when the expected output is too high"
The output range of my regression prediction is [1, 30], while most targets are lower than 2.
When I generate counterfactuals with an expected output of 10 or more for a particular instance, the _**generate_Counterfactuals**_ function runs for a long time without producing a result.
It normally takes only a few seconds to generate a result (expected counterfactual output in [1,5]).
How can I make

[2022-05-18 12:02] xueyagaga commented on #298
The regression prediction target feature is severely left-skewed `(n=244217, mean=1.11, std=0.546)`. The histogram of the distribution is shown below:
![image](https://user-images.githubusercontent.com/64541307/169033837-f6b86ec2-6b4f-426c-ba37-8f5a492896e5.png)

Here is my code:
When the desired output is in the range of [1, 5], it only takes a few seconds to run _**generate_Counterfactuals**_
[c

[2022-05-19 05:19] gaugup commented on #298
@xueyagaga maybe your model cannot give prediction between range [10, 15]. That's why perhaps the dice explainer is trying to generate lot more points to arrive at some counterfactual. But nevertheless the explainer should stop trying to find counterfactuals after a reasonable tries. How do you setup the dice-ml explainer?

[2022-05-19 05:44] xueyagaga commented on #298
Thank u for the response! The DiCE is really great!
The code for setting **_dice-ml_** explainer is as below:
[code]
I'm hesitating whether I've missed some parameter settings so that the explainer won't stop.

[2022-05-21 13:48] lange-martin commented on #215
I don't believe so. The workaround I am currently using is to input the `desired_class` manually.

[2022-05-25 16:05] Giuseppe-Accardo opened #299 "Update release on pypi"
Hello everyone,
The Sep 27, 2021 release v0.7.2, has not new commits.

Is it possible to update the repository on pypi?

Thank you for the help!
Giuseppe

[2022-05-25 16:37] amit-sharma commented on #299
Yes! We are going to release a new version this week.

[2022-05-26 09:58] immaF opened #300 "Get distance from counterfactuals with KDtree method"
Hi everyone,

How could I get distance from counterfactuals with KDtree method?

I observed the line `cfs = cfs.drop(["distance", "sparsity", "distancesparsity"], axis=1)` in the method ` do_sparsity_check(self, cfs, query_instance, sparsity_weight)` in class `class DiceKD(ExplainerBase)`.

Thank you for the help!
Imma

[2022-05-29 17:45] tonyabracadabra opened #302 "Counterfactual for subpopulation"
Can DiCE be extended for calculating the counterfactuals for a subpopulation based on certain conditions?

[2022-05-30 04:24] amit-sharma commented on #302
yes, you can provide a set of rows from a dataframe to the `generate_counterfactuals` method. One way is to filter the dataframe based on given conditions and then supply the filtered dataframe to `generate_counterfactuals`.

However, you will still get counterfactuals per row. Is that the goal?

[2022-05-30 07:09] tonyabracadabra commented on #302
I was thinking if there is a more efficient way of doing this, I was reading this https://arxiv.org/pdf/2103.11972.pdf and wonder if there is anything similar can help me achieving the contextual algorithm recourse

[2022-06-01 06:32] lange-martin opened #303 "DiCE with option "kd-tree" always generates the same counterfactuals for categorical data"
If one uses the option ``kd-tree`` and tries to generate counterfactuals for a dataset with purely categorical columns, DiCE will always show the same set of counterfactuals. The screenshot shows an excerpt of the [DiCE_model_agnostic_CFs](https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_model_agnostic_CFs.ipynb) notebook. You can see that the indices of the counterfactua

[2022-06-02 13:50] amit-sharma commented on #299
v0.8 has now been released!

[2022-06-02 13:50] #299 closed, assigned to nobody

[2022-06-03 04:28] ah-ansari opened #305 "Generating CF examples for the multi-class classification case using the GD-based method"
Hi,

I was wondering if the current implementation of the GD-based method (I mean the loss-based method described in your paper, [Mothilal et al. (2020)](https://arxiv.org/abs/1905.07697)) can handle the multi-class classification case?

I see in [dice_tensorflow2.py](https://github.com/interpretml/DiCE/blob/master/dice_ml/explainer_interfaces/dice_tensorflow2.py), that the "desired_class" paramet

[2022-06-03 04:45] amit-sharma commented on #305
We are working on supporting multi-class, but the current version on tensorflow supports only binary at the moment.

[2022-06-03 05:21] ah-ansari commented on #305
Thanks for your response.

For a submission, I need to apply your method to a multi-class problem, for which I will cite your work.
Unfortunately, my time is limited, and I would appreciate it if you describe how I modify the code so it can be applied for multi-class case (if the change is simple).
I think if I modify the "predict_fn" function in [dice_tensorflow2.py](https://github.com/interpretm

[2022-06-03 05:33] amit-sharma commented on #305
That's correct. you will need to change the predict_fn. But you may find that the rest of the code expects a single-dimensional value as output of classifier---so you may need to change those parts to do "max of the output scores" rather than "is output score more than 0.5/threshold".

Hope this helps. Happy to answer any questions as you go through the code, and would love if you can raise a PR w

[2022-06-03 05:39] ah-ansari commented on #305
Many thanks for your help.
Sure, I will raise a PR after I applied the changes.

[2022-06-16 10:51] giandos200 opened #308 "wrong link for VAE CF generation in Readme"
Link mistake in VAE method:

Gradient-based methods

-   An explicit loss-based method described in [Mothilal et al. (2020)](https://arxiv.org/abs/1905.07697) (Default for deep learning models).
-   A Variational AutoEncoder (VAE)-based method described in [Mahajan et al. (2019)](https://arxiv.org/abs/1912.03277) (see the BaseVAE [notebook](https://github.com/interpretml/DiCE/blob/master/docs/note

[2022-06-16 12:08] giandos200 commented on #308
line 51 of file feasible_base_vae.py and line 50 of file feasible_model_approx.py the base_model_dir get error:
[code]
i've resolved with:
[code]
i don't know if is the best way of doing it, (probably not)!

[2022-06-20 07:37] Bora-ds commented on #276
@gaugup I have the error message when setting all the variables as str to make it categorical:
"
    367             (abs(x_hat - query_instance_normalized)[:, [self.data_interface.continuous_feature_indexes]]),
    368             feature_weights)
--> 369         product = product.reshape(-1, product.shape[-1])
    370         proximity_loss = np.sum(product, axis=1)
    371

ValueError: cannot r

[2022-06-20 07:47] Bora-ds opened #310 "options to save cfs other than json format when categorical variables are in float format"
Hi. Could you add another option or method to save counterfactuals?
to_json() method doesn't work when all the variables are categorical and they are in float format.
(given the message, it seems like it's JSON serialize issue)

or could you suggest simple code examples to save counterfactual list in any human-readable format other than json object?

[2022-06-27 09:52] #215 closed

[2022-06-27 09:59] #46 closed

[2022-07-13 10:14] WeituoDAI opened #314 "wrong new_outcome for method 'genetic' 'kdtree'"
Hi, I have tried to use three methods to get CounterfactualExamples in Jupyter notebook.  But I find the **_new_outcome_** is wrong sometimes when _**desired_class=="opposite".**_
And I check your code, I find that for "genetic" and "kdtree" methods, you compute the **_desired_class_** in  **_generate_counterfactuals()** (like in dice.KD.py ), but I think you should compute it for every instance (

[2022-07-19 02:01] hadjipantelis commented on #260
@amit-sharma Hello Amit, is there an update on this please? I tried it with ver 0.8 and the issue still remains.

[2022-07-28 19:37] UrjaPawar opened #315 "Binary classification using Pytorch"
Hi,

While generating counterfactuals for a binary PyTorch classifier, I observed that the predict function only returns a single output (list with 1 element), as it is trimmed based on a number of output nodes:
dice_pytorch.py
![image](https://user-images.githubusercontent.com/16853965/181622318-daf27d96-5c6f-4cae-9c55-86cb3eeb7a10.png)

Now, in explainer_base.py, we again see a check based on ou

[2022-07-29 10:38] amit-sharma commented on #315
This is fixed in PR #261  and #312. You can try checkout the branch [amshar/support-private-data-for-sklearn-models](https://github.com/interpretml/DiCE/tree/amshar/support-private-data-for-sklearn-models)---that should work for your problem.
It will be soon pushed for a release.

If it does not work, let me know

[2022-07-29 10:48] #315 closed

[2022-08-09 08:13] amindadgar commented on #42
Same issue here for the README example and also a new environment with installed everything from the requirements files!

To reproduce error:
[code]
And finally I chosed *mynewenvironment* for the notebook kernel.

For the first cell in jupyter notebook (the example from README.md)
[code]

Running this code would gives me error ```AttributeError: module 'tensorflow' has no attribute 'get_default_s

[2022-08-10 01:26] neonine2 opened #316 "Cannot convert float NaN to integer"
I am trying to follow the tutorial to generate several cfs, but when I execute the following line:
`e1 = exp.generate_counterfactuals(query, total_CFs=1, desired_class="opposite")`
I keep getting the following value error:

---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
/var/folders/7r/m3_06_ss

[2022-08-12 23:25] neonine2 commented on #316
I was able to solve this problem by changing the structure of my neural network so that it outputs a scalar rather than a vector

[2022-08-12 23:25] #316 closed

[2022-08-15 08:44] LornaAS93 opened #317 "Identifying categorical values in private data method"
I'm trying to use the method for identifying counterfactuals without access to the training data. I have defined my feature dictionary containing the min/max numerical values and expected categorical values. However, I'm getting errors with numerical columns where the values are floats instead of integers.

I can see in the private_data_interface.py code that columns are classed as categorical col

[2022-08-15 12:08] BlagaBaycheva opened #318 "Error ‘unexpected keyword argument 'output_type'’ when trying to reproduce the example notebook with private data"
Hi, when trying to generate counterfactuals with private data using the toy adult dataset and reproducing the provided notebook example I’m getting the following error:

---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
~\AppData\Local\Temp\2\ipykernel_3336\1826134958.py in <module>
----> 1 exp =

[2022-08-18 20:04] mozolcer commented on #137
Were you able to fix this? I'm getting the same error

[2022-08-18 20:18] mozolcer commented on #137
@gaugup
my code:

`import os
from IPython.display import display
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import dice_ml
import tensorflow as tf
from dice_ml.utils import helpers # helper functions
from keras import backend as K
import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
tf.config.run_functions_eagerly(True)

import dice_ml
from dice_ml.utils import h

[2022-08-18 20:27] mozolcer opened #319 "AttributeError: 'Tensor' object has no attribute 'numpy'"
I am getting this error when I try to run the code here : https://github.com/interpretml/DiCE
tensorflow vs: 2.9.1
dice-ml vs: 0.8

My full code:

`import os
import numpy as np
import pandas as pd

import dice_ml
import tensorflow as tf
from dice_ml.utils import helpers # helper functions
from keras import backend as K

import tensorflow.compat.v1 as tf
tf.disable_v2_behavior()
tf.config.run_funct

[2022-09-08 01:12] xxkk1006 opened #320 "Can it be applied to regression models?"
Examples from this book _Interpretable Machine Learning_ . “Anna wants to rent out her apartment, but she is not sure how much to charge for it, so she decides to train a machine learning model to predict the rent. Of course, since Anna is a data scientist, that is how she solves her problems. After entering all the details about size, location, whether pets are allowed and so on, the model tells

[2022-09-20 17:10] emma-toh commented on #165
Hi @Saladino93 thanks for this thread! I wanted to ask what you specifically did to cast the variables as a category? I am getting a similar error: ('Feature', 'xxx', 'has a value outside the dataset.')

I have tried several things:
- identifying all the categorical features in the 'Data' that is given to the dice instance using Data[col].astype('category')
- adding a categorical_features variable

[2022-09-21 23:31] gaugup commented on #320
@xxkk1006, we do support regression models. A sample notebook for regression is here:- https://github.com/interpretml/DiCE/blob/master/docs/source/notebooks/DiCE_multiclass_classification_and_regression.ipynb.

Let us know if you have more questions.

Regards,
Gaurav

[2022-10-05 11:05] shreyakhandelwal07 commented on #180
Hi @amit-sharma is there any update on having support for time series?

[2022-10-05 20:55] JavierMediaRB opened #326 "Bug in the PublicData class (version dice-ml==0.8): 'PublicData' object has no attribute 'encoded_feature_names'"
### When executing the following code from the tutorial on the main page (with the last version dice-ml==0.8) throws an error:

[code]

### The error:
 AttributeError: 'PublicData' object has no attribute 'encoded_feature_names'

As I have found, the **file "dice_ml\explainer_interfaces\dice_tensorflow1.py"** calls the parameter **"data_interface.encoded_feature_names"** in **the line 355**. This

[2022-10-06 13:36] #182 closed

[2022-10-06 13:47] amit-sharma commented on #294
@ninaspreitzer thanks for your patience. This should be fixed in the latest update. Can you clone from main branch and check if the error still persists?

[2022-10-07 12:16] amit-sharma commented on #318
@BlagaBaycheva the notebook has been updated now. Can you try the new [notebook](https://github.com/interpretml/DiCE/blob/main/docs/source/notebooks/DiCE_with_private_data.ipynb) using the main branch code (i.e., install the library from github--clone and then `pip install -e  .` from the root directory)

[2022-10-07 13:12] amit-sharma commented on #317
Thanks for suggesting this. Fixed in #330

[2022-10-10 04:46] #317 closed

[2022-10-16 11:49] nagainfosolutions opened #332 "generate_counterfactuals call results in error on Tensorflow v2.9"
Hello,

We recently updated to Tensorflow v2.9. Since the upgrade, we've had trouble with the _generate_counterfactuals_ function call. Below is my code and error. Note: The same code was working on Tensorflow 1.x.

[code]

Executing this results in the following error from the generate_counterfactuals function call

[code]

Age is not one of the features we expect dice to vary. Again, we never ha

[2022-10-16 15:11] LiNaNiNa opened #333 "Incorrect Target values when using Tensor Flow v2 Model"
Hello,
When executing the code code (applying DICE on half_moons dataset with Tensor Flow 2 model), the 'target' column of the counterfactuals (in HERE (A) and HERE (B) below) is different than the result predicted by Tensor Flow model for the examples [results shown below].  And thus, the counterfactuals do not all belong to the opposite class, even if it is shown that they are.
Is this an issue

[2022-10-17 04:27] amit-sharma commented on #333
hi @LiNaNiNa This issue was fixed in the latest main branch. Can you try cloning the latest main branch from github and try this code again? (clone the repo and then do `pip install -e  .` from the root folder of the repo).

[2022-10-17 07:34] LiNaNiNa commented on #333
Hello,
Thank you for your fast answer, @amit-sharma .

Yes, the latest version works well!
The only change I did (for future reference), is changing the type of query_instance argument for explainer.generate_counterfactuals method, from a dictionary to a dataframe. But, right now, it can work on multiple instances in one run! Thank you for the new feature.

Keep up the hard work!

[2022-10-17 07:34] #333 closed

[2022-10-18 11:11] nagainfosolutions commented on #332
I'd like to add that if I remove the line specifying _permitted_range_, that is if I change the _generate_counterfactuals_ line to below

[code]

then the execution is initiated, but after several seconds I receive the error

[code]

[2022-10-19 06:50] #326 closed

[2022-10-19 06:51] #310 closed

[2022-10-19 12:27] amit-sharma opened #337 "CF table outputs scores instead of class label for deep learning models"
To be consistent, the output in the dataframe should be the class label.

[2022-10-19 12:27] amit-sharma opened #338 "Support `feature_weights` param in generate_counterfactuals method"

[2022-10-20 04:37] amit-sharma commented on #332
@nagainfosolutions the tensorflow code was updated in the latest version v0.9. Can you try using the latest version from pip? Let me know if the error still persists.

[2022-10-20 04:38] amit-sharma commented on #320
Closing the issue due to inactivity. @xxkk1006 feel free to reopen in case you have more questions.

[2022-10-20 04:38] #320 closed

[2022-10-20 04:40] amit-sharma commented on #319
you may also try the latest version of DiCE, v0.9, that has updates to the tensorflow code and should resolve this bug.

[2022-10-20 04:40] amit-sharma commented on #318
This has been fixed in the new version, v0.9.

[2022-10-20 04:40] #318 closed

[2022-10-20 04:42] amit-sharma commented on #314
This has been fixed with v0.9. Let us know if you still face this issue.

[2022-10-20 04:42] #314 closed

[2022-10-20 04:44] #305 closed

[2022-10-20 04:46] #302 closed

[2022-10-20 04:48] amit-sharma commented on #302
The method from the arxiv paper is not currently implemented. Will be a great contribution if you/someone is up for it.

[2022-10-20 04:48] #297 closed

[2022-10-20 04:51] amit-sharma commented on #294
This issue is fixed in v0.9.

[2022-10-20 04:51] #294 closed

[2022-10-20 04:56] amit-sharma commented on #290
Maybe a better name is "numeric_features", rather than `continuous_features`. Regardless, putting numeric features inside `continuous_features` fix should work for anyone facing this issue.

[2022-10-20 04:56] #290 closed

[2022-10-20 04:58] #284 closed

[2022-10-20 05:09] amit-sharma commented on #245
We have an update in v0.9 for deep learning models that allows you to specify an encoding for categorical features.
`m = dice_ml.Model(model_path=dice_ml.utils.helpers.get_adult_income_modelpath(),
                  backend='TF2', func="ohe-min-max")`
Where the "ohe-min-max" is a one-hot encoding method for categorical features.

[2022-10-20 05:10] #217 closed

[2022-10-20 08:45] WeituoDAI commented on #314
It works well now. Thank you.

De: "Amit Sharma" ***@***.***>
À: "interpretml/DiCE" ***@***.***>
Cc: "WeituoDAI" ***@***.***>, "Mention" ***@***.***>
Envoyé: Jeudi 20 Octobre 2022 06:42:23
Objet: Re: [interpretml/DiCE] wrong new_outcome for method 'genetic' 'kdtree' (Issue #314)

This has been fixed with v0.9. Let us know if you still face this issue.

—
Reply to this email directly, [ https://git

[2022-10-20 10:53] nagainfosolutions commented on #332
This issue is fixed now. Thank you for the quick resolution. Much appreciated.

[2022-10-26 04:27] #332 closed

[2022-10-27 21:39] cwayad commented on #226
Hi, I get the same problem too. Here is a synthetic data I am generating :

# Dataset xor x1 and x2
SIZE=100
loc=0.0
scale= 0.5
n, p = 10, .5
a=[0, 1, 2]
np.random.seed(seed=0)

x1=np.random.randint(2,size=SIZE)
x2=np.random.randint(2,size=SIZE)
x3=np.random.normal(loc=loc, scale=scale, size=SIZE)
x4= np.random.choice(a=a, size=SIZE)
x5= (np.logical_xor(x1, x2)).astype(int)
x6= (np.logical_not(x2)

[2022-10-30 15:47] amit-sharma commented on #226
@cwayad are you using the latest version of dice (v0.9)?

also, to reproduce your example, I need the model training code. can you provide that so that this can be debugged?

[2022-10-30 17:41] cwayad commented on #226
I use a random forest model:
x_train, y_train, x_test, y_test= train_test_split(df, feature_to_predict, n=0.8, random_s=25)
model = RandomForestClassifier(n_estimators = 10)
model.fit(x_train, y_train)

Please note that I run this code in three for loops on loc, scale and p.

[2022-11-04 15:55] Leinadj commented on #276
I have the same error

[2022-11-11 15:51] azz147 opened #342 "int(final_cfs_sparse.at[cf_ix, feature]) in do_posthoc_sparsity_enhancement, do_linear_search and do_binary_search"
When performing `do_posthoc_sparsity_enhancement`, the code calculates the difference between `final_cfs_sparse` and `query_instance` by doing
https://github.com/interpretml/DiCE/blob/d176e120c54f481d43de91a9b04904c1d1df1f65/dice_ml/explainer_interfaces/explainer_base.py#L535
I don't understand why the code uses `int` here. From the paper I think the code should be
```diff = query_instance[feature

[2022-11-15 07:57] amit-sharma commented on #342
thanks @azz147 for catching this. This looks like a bug, and not sure why the `int` was added.
Would you like to raise a PR to fix this? I see the `int(` typecast in multiple places in explainer_base.py.

[2022-11-16 07:32] #342 closed

[2022-11-26 03:55] nagainfosolutions opened #346 "CFs with onehot encoded categorical variables"
Hello,

This isn't a bug, but more of a query on how Dice can work with data which is onehot encoded by our program.

There are several fields in our dataset that contain categorical data (eg: Gender, Country etc). Such fields are onehot encoded resulting in a change of number of columns and their names. Eg:  field 'Gender' changes to => 'Gender_Male' and 'Gender_Female'

How can 'permitted ranges